mixin video_slide(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.item__poster
			.item__top
				span 750Р.
				span 650Г
			img(src="../images/poster.jpg", alt="")
			.item__start
			.item__title «ШАРИК ИЗ ПРОСТОКВАШИНО»
		.item__content
			h3
				span Новогодний подарок
				| шарик из ПРОСТОКВАШИНО
			.video__price
				span 750Р.
				span 650гр.
			p.
				Герой известного мультфильма и любимец всех 
				деток – Шарик из Простоквашино.
			.item__share
				a(href="", class="btn btn--default btn--xl") Все подарки с видео
				a.countent__you
					img(src="../images/youtube.png")
					span Наш канал на Ютубе
