mixin detsad-slider(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.slider-box
				.grid.fit-grid
					.col-8
						.slider-select
							.item
								.card
									.preview
										img(src="../images/landing/g-2.png")
									.body
										.title Веселый фотограф
										.info-row
											.price 500 Р
											.weight 550 гр.
											.mat Картон
										.count
											div.ui.ui-minus -
											.value
												<input type="text", value="15 шт" disabled/>
											div.ui.ui-plus +
										a(href="", class="link-blue") Состав подарка
							.item
								.card
									.preview
										img(src="../images/landing/g-2.png")
									.body
										.title Веселый фотограф
										.info-row
											.price 500 Р
											.weight 550 гр.
											.mat Картон
										.count
											div.ui.ui-minus -
											.value
												<input type="text", value="15 шт" disabled />
											div.ui.ui-plus +
										a(href="", class="link-blue") Состав подарка
							.item
								.card
									.preview
										img(src="../images/landing/g-3.png")
									.body
										.title Веселый фотограф
										.info-row
											.price 500 Р
											.weight 550 гр.
											.mat Картон
										.count
											div.ui.ui-minus -
											.value
												<input type="text", value="15 шт" disabled/>
											div.ui.ui-plus +
										a(href="", class="link-blue") Состав подарка
							.item
								.card
									.preview
										img(src="../images/landing/g-2.png")
									.body
										.title Веселый фотограф
										.info-row
											.price 500 Р
											.weight 550 гр.
											.mat Картон
										.count
											div.ui.ui-minus -
											.value
												<input type="text", value="15 шт" disabled/>
											div.ui.ui-plus +
										a(href="", class="link-blue") Состав подарка
						.slider__bottom
							span Совет: отправьте этот набор другим родителям в соцсетях или мессенджере:
							div.soc-links
								a(href="")
									img(src="../images/landing/skype-icon.png")
								a(href="")
									img(src="../images/landing/telegram-icon.png")
								a(href="")
									img(src="../images/landing/whatsup-icon.png")
								a(href="")
									img(src="../images/landing/vk-icon.png")
					.col-4.col-xs-6
						.slider__side
							h4 Каждый родитель должен сдать по 500 рублей
							.side__total
								.total__row
									span Итого:
									.total__price 14 500Р.
								a.btn.btn--addtocart(hewf="") Добавить в корзину
								.price-downld
									.icon
										img(src="../images/landing/pdf.png")
									.body
										div Скачать прайслист
										div Для детских садов


