// detsad-slider styles
.detsad-slider
	background-color #d9ebec
	margin-top 50px
	@media screen and (min-width $md)
		background-color #fff
		.slider-box
			background-color #d9ebec
			border-radius 20px
			padding-left 50px
	.container
		padding-left 0
		padding-right 0
		@media screen and (min-width $md)
			margin-right auto
			margin-left auto
			padding-left 15px
			padding-right 15px
		.slider-select
			margin-top -30px
			.slick-arrow
				top auto
				bottom 50px
				background-color transparent
				&.slick-prev
					icon-arrow(left, 40px, $primary-color, 2px)
					left 40px
					&:before
						content ""
						height 0
						fz(0)
				&.slick-next
					icon-arrow(right, 40px, $primary-color, 2px)
					right 40px
					&:before
						content ""
						height 0
						fz(0)
				@media screen and (min-width $lg)
					bottom 25px
					&.slick-prev
						left 80px
					&.slick-next
						right 80px
			.item.slick-slide
				z-index -1
				background-color #d9ebec
				transform scale(0.6)
				position relative
				@media screen and (min-width $lg)
					transform scale(0.7)
			.item.slick-slide.slick-current.slick-center
				margin-left -20px
				margin-right -20px
				z-index 10
				background-color #fff
				transform scale(1)
				margin-bottom 50px
				@media screen and (min-width $lg)
					margin-left -40px
					margin-right -40px
			.card
				max-width 280px
				padding 35px 25px
				box-shadow 0px 10px 40px 0px rgba(95, 3, 3, 0.35)
				border-radius 5px
				margin 0 auto
				.preview
					text-align center
					margin-bottom 40px
					img
						display inline-block
				.body
					text-align center
					.title
						fz(18)
						lh(20)
						font-weight $bold
						color #000
						text-align left
					.info-row
						margin-top 10px
						display flex
						&>div
							margin-right 10px
							fz(16)
							lh(20)
						.price
							color $primary-color
							font-weight $bold
					.count
						margin-top 35px
						display flex
						height 45px
						width 215px
						border 1px solid #d2d5e1
						border-radius 30px
						.ui
							flex 1 0 auto
							height 100%
							color $primary-color
							fz(30)
							text-align center
							width 45px
							cursor pointer
							line-height 40px
						.value
							flex 2 0 auto
							height 100%
							width 125px
							border-left 1px solid #d2d5e1
							border-right 1px solid #d2d5e1
							input
								background-color transparent
								border none
								text-align center
								font-weight $bold
								fz(16)
								height 100%
								width 100%
								&:focus
									border none
						&+a
							text-align center
							color #009cbe
							margin-top 20px
							text-decoration none
							margin-top 20px
							display inline-block
	.slider__bottom
		text-align center
		padding-left 20px
		padding-right 20px
		@media screen and (min-width $md)
			display flex
			align-items center
			text-align left
			max-width 80%
			margin-left auto
			margin-right auto
			margin-bottom 30px
			.soc-links
				margin-left 10px
				margin-top 0
				margin-bottom 0
				a
					margin-left 5px
			span
				margin-bottom 0 !important
		span
			display block
			fz(16)
			lh(21)
			color #8f7b71
			margin-bottom 25px
	.soc-links
		max-width 200px
		display flex
		justify-content space-between
		margin 20px auto

	.slider__side
		padding 40px
		position relative
		background-color #c3dfe0
		@media screen and (min-width $md)
			width 100%
			height 100%
			border-top-right-radius 20px
			border-bottom-right-radius 20px
		h4
			color black
			fz(16)
			lh(20)
			font-weight $bold
			margin-bottom 20px
		.side__total
			margin-bottom 25px
			max-width 300px
			@media screen and (min-width $md)
				absolute(bottom 40px left 40px)
				width 100%
			@media screen and (min-width $lg)
				bottom 0
			& *
				fz(25)
				lh(19)
				color #000
				font-weight $bold
			.total__row
				display flex
				justify-content space-between
				align-items center
				@media screen and (min-width $md)
					max-width 250px
		.btn
			background-color #009cbe
			max-width 305px
			text-align center
			color #fff
			fz(16)
			letter-spacing 0.08em
			lh(60)
			height 80px
			text-transform uppercase
			border-radius 10px
			margin 30px auto 25px
			padding-left 15px
			padding-right 15px
			@media screen and (min-width $md)
				width 240px
				padding-left 5px
				padding-right 5px
			@media screen and (min-width $lg)
				width 305px
		.price-downld
			display flex
			.icon
				margin-right 10px
			.body
				div
					&:first-of-type
						font-weight $bold
						fz(16)
						lh(19)
						color $primary-color
					&:last-child
						fz(16)
						color #8f7b71
						lh(19)


