// about_stat styles
.about-stat
	padding 60px 0
	.grid
		ai
	h2
		font-family fontHeadBold
		color $primary-color
		text-align center
		margin-top 0
	.stat-item
		text-align center
		max-width 170px
		margin-left auto
		margin-right auto
		display flex
		flex-flow column nowrap
		align-items center
		justify-content flex-start
		height 170px
		.stat__body
			text-align center
			flex 0 0 50%
		.stat__digit
			margin-bottom 5px
			color $primary-color
			font-weight $bold
			fz(30)
			lh(25)
		.stat__icon
			margin-bottom 5px
			flex 0 0 50%
		.stat__text
			fz(16)
			lh(19)
			color #8f7b71
			margin-top 10px

