mixin about_stat(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h2 «Москондитер» в цифрах
			.grid
				.col-3
					.stat-item
						.stat__icon
							img(src="../images/about/calendar.png")
						.stat__body
							.stat__digit 8
							.stat__text Лет мы на рынке новогодних подарков
				.col-3
					.stat-item
						.stat__icon
							img(src="../images/about/face.png")
						.stat__body
							.stat__digit 200
							.stat__text Сотрудников работает в компании
				.col-3
					.stat-item
						.stat__icon
							img(src="../images/about/order.png")
						.stat__body
							.stat__digit 26 000
							.stat__text Выполненных заказов
				.col-3
					.stat-item
						.stat__icon
							img(src="../images/about/gift.png")
						.stat__body
							.stat__digit 1 830 000
							.stat__text Более 1 830 000 реализованных подарков

