// header_logo styles
.header__logo
	position relative
	span
		color $black50
		fz(13)
		absolute(left 45px top -5px)
	@media screen and (min-width $xs) and (max-width 23.75em)
		a span
			fz(10)
			absolute(left 45px top 0px)
	@media screen and (min-width $md)
		span
			absolute(left 110px top 14px)