mixin header_logo(spec)
	.header__logo
		a(href="/")
			span= site.data.global.siteTitle
			picture
				source(media="(min-width: 64em)", srcset="../images/logo.png", alt="")
				img(src="../images/logo-min.png", alt="")
				source(media="(min-width: 20em)", srcset="../images/logo-min.png", alt="")
