// detsad-stat styles
.detsad-stat
	padding 50px 0 40px
	background url('../images/landing/box-bg.jpg') center no-repeat
	background-size cover
	color #fff
	h2
		text-align center
		margin-bottom 40px
	.detsad-stat__item
		display flex
		margin-bottom 20px
		max-width 320px
		margin-left auto
		margin-right auto
		.item__icon
			flex 0 0 170px
			padding-right 25px
		.item__body
			flex 0 0 150px
			h3
				margin-top 0
				margin-bottom 0
				fz(30)
				lh(20)
				span
					display block
					fz(20)
					lh(20)
					margin-top 5px
			p
				color #ffa4a4
				fz(16)
				lh(20)
				margin-top 10px
				margin-bottom 0
@media screen and (min-width $md)
	.detsad-stat
		background url('../images/landing/box-md-bg.jpg') center no-repeat
		background-size cover
		.detsad-stat__item
			flex-flow column nowrap
			text-align center
			max-width 230px
			.item__icon
			.item__body
				flex 0 0 auto
			.item__icon
				margin-bottom 10px
@media screen and (min-width $lg)
		.detsad-stat
			background url('../images/landing/box-bg-lg.jpg') center no-repeat
			background-size cover
			.item__body
				h3
					lh(27)