mixin detsad-stat(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h2 Немного о нас в цифрах
			.grid
				.col-4.col-xs-6
					.detsad-stat__item
						.item__icon
							<img src="../images/landing/lend-1-icon-3.png" alt=""/>
						.item__body
							h3 64 000 кг <span>подарков</span>
							p.
								были поставлены
								в детские сады
				.col-4.col-xs-6
					.detsad-stat__item
						.item__icon
							<img src="../images/landing/lend-1-icon-2.png" alt=""/>
						.item__body
							h3 64 000 кг <span>подарков</span>
							p.
								были поставлены
								в детские сады
				.col-4.col-xs-6
					.detsad-stat__item
						.item__icon
							<img src="../images/landing/lend-1-icon-1.png" alt=""/>
						.item__body
							h3 64 000 кг <span>подарков</span>
							p.
								были поставлены
								в детские сады

