mixin detsad-select(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h2 Быстро поможем подобрать подарок
			.select-box
				.select-form
					.select-form__el
						.label Количество детей в группе
						.select-form__control
							<input type="text" class="control__value" value="15"/>
							div(class="control__minus change", data-step="-1") -
							.control__ui
								div
							div(class="control__plus change", data-step="+1") +
					.select-form__el
						.label Примерный бюджет на все подарки
						.select-form__control.is-budget
							<input type="number" class="control__value control__value--budget" value="20 000" placeholder="20 000 Р."/>

					.select-form__el
						.label Возраст детей
						.select-form__control
							<input type="text" class="control__value" value="4"/>
							div(class="control__minus change", data-step="-1") -
							.control__ui
							div(class="control__plus change", data-step="+1") +
					.select-form__el
						<input type="submit" class="btn btn--primary btn--md" value="Подобрать"/>

