// detsad-select styles
.detsad-select
	padding 50px 0
	h2
		text-align center
		color #590202
		margin-top 0
		fz(30)
		lh(33)
	.select-box
		padding 30px 20px
		border-radius 10px
		background-color rgb(255, 255, 255)
		box-shadow 0px 10px 40px 0px rgba(95, 3, 3, 0.35)
		.select-form__control
			display flex
			border 1px solid #d2d5e1
			height 45px
			align-items center
			justify-content flex-start
			border-radius 3px
			width 100%
			&.is-budget
				padding-left 10px
				padding-right 10px
			input
				border none
				width 100%
				color #590202
				font-weight $bold
				width 100%
				fz(16)
				max-width 300px
				&:focus
					outline none
					border none
			.ui-slider-handle
				width 19px
				height 19px
				border-radius 100%
				background-color $primary-color
				box-shadow none
				border none
				top -8px
				cursor pointer
			.control__value
			.change
				height 100%
				cursor pointer
			.ui-slider
				flex 3 0 auto
				padding-left 10px
				padding-right 10px
				height 1px
			.change
				color $primary-color
				fz(30)
				flex 1 0 auto
				font-weight $normal
				lh(1)
				border-left 1px solid #d2d5e1
				border-right 1px solid #d2d5e1
				text-align center
				line-height 45px
			.control__value
				border none
				flex 1 0 auto
				max-width 55px
				text-align center
				line-height 45px
				color #590202
				fz(16)
				font-weight $bold
				&.control__value--budget
					max-width none
					input-placeholder(color #590202,)
					text-align left
	.select-form__el
		margin-bottom 30px
		.label
			color #8f7b71
			fz(16)
			margin-bottom 10px
	.select-form
		.btn
			width 100%
			border-radius 0
			margin-top 20px
			font-size 16px
			font-weight $bold
			text-transform none
@media screen and (min-width $md)
	.select-box
		.select-form
			display flex
			justify-content space-between
			flex-flow row wrap
			.select-form__el
				&:not(:last-child)
					flex 0 0 33%
					display inline-block
			.select-form__el
				&:last-child
					flex 0 0 auto
					width 100%
@media screen and (min-width $lg)
	.select-box
		.select-form
			align-items flex-end
			.select-form__el
				&:not(:last-child)
					flex 0 0 28%
					max-width 295px
			.select-form__el
				&:last-child
					flex 0 0 16%
					.btn
						margin-top 0