// footer styles
.m-footer
	position relative
	color #fff
	padding-bottom 327px
	a
		color #fff
		text-decoration none
.footer__services
	border-top 1px solid #945653
	margin-top 20px
.footer-outer
	padding-top 30px
	padding-bottom 220px
	// background-color #660d08
	background-image: url('../images/footer-bg-xs.png'), linear-gradient(top , #660d08, 95% $footerBgColor)
	// background radial-gradient( 50% 50%, circle closest-side, rgb(225,33,33) 0%, rgb(102,13,8) 100%)
	// background linear-gradient(top , #660d08, 80% $footerBgColor)
	background-position 50% 100%
	background-size 100% auto
	background-repeat no-repeat

.footer-menu + .grid > div
	&:first-child
		order 2
.footer__allgifts
	margin-bottom 30px
.m-footer
	.toTabs__nav
	.toTabs__tab
		display none
@media screen and (min-width $md)
	.m-footer
		padding-bottom 225px
		.footer-outer
			padding-top 35px
			padding-bottom 360px
			background-image url('../images/footer-bg-md.jpg')
			background-position 0 0
			background-size cover
	.footer-copy
		height 225px
		padding-top 60px
	.footer__services
		border none
		margin-top 26px
		.footer__cat
			&:last-child
				padding-left 85px
	.m-footer
		.toTabs__nav
		.toTabs__tab
			display block
@media screen and (min-width $lg)
	.m-footer
		padding-bottom 169px
		.footer-outer
			background-image url('../images/footer-bg-lg.jpg')
			padding-bottom 280px
	.footer-copy
		height 169px
		padding-top 10px




