mixin footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	footer(class=spec.__class)&attributes(attributes)
		.footer-outer
			.container
				+footer_menu(class="footer-menu")
				.grid
					.col-6
						.footer__allgifts= site.data.global.allGifts
					.col-6
						+footer_soc(class="footer-soc")
				+footer_cats(class="footer__cats js-tabs-transformer")
				
		+copyright(class="footer-copy")

		