extends ../_layouts/base

include ../_modules/link/link
include ../_modules/detsad-banner/detsad-banner
include ../_modules/detsad-stat/detsad-stat
include ../_modules/detsad-cert/detsad-cert
include ../_modules/detsad-select/detsad-select
include ../_modules/detsad-slider/detsad-slider
include ../_modules/detsad-news/detsad-news
include ../_modules/work/work
include ../_modules/detsad-info/detsad-info
include ../_modules/gift_select/gift_select
include ../_modules/fabric_slider/fabric_slider
include ../_modules/fabric_item/fabric_item
include ../_modules/gifts_video/gifts_video
include ../_modules/video_slide/video_slide
include ../_modules/land-gifts/land-gifts
include ../_modules/gifts_item/gifts_item
include ../_modules/seotext/seotext
include ../_modules/fast_search/fast_search

block config
	//- Correct base url pathing for this page
	- var baseUrl = '../'

block content
	+detsad-banner(class="main-banner main-banner--land")
	+detsad-stat(class="detsad-stat")
	+detsad-cert(class="detsad-cert")
	+detsad-select(class="detsad-select")
	+detsad-slider(class="detsad-slider")
	+detsad-news(class="d-news")
	+work(class="work")
	+detsad-info(class="d-info")
	+gift_select(class="choice")
	+fabric_slider(class="fabric-slider fabric-slider--land")
	+gifts_video(class="video-gifts")
	+land-gifts(class="leading leading--land")
	.container.clearfix
		+seotext(class="about about--seo")
		+fast_search(class="links")