mixin copyright(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.grid
				.col-4
					.footer-copy__text= site.data.copy.copy.copyright
					.footer-copy__text= site.data.copy.copy.ogrn
				.col-4
					.footer-copy__text= site.data.copy.address.addr
					.footer-copy__text= site.data.copy.address.phone
					.footer-copy__text= site.data.copy.address.mail
				.col-4
					.footer__dev
						.footer-copy__text= site.data.copy.dev.title
						.footer-copy__text
							a(href="/")= site.data.copy.dev.name
