// copyright styles
.footer-copy
	background-color #FFF
	absolute(left 0 bottom 0px)
	width 100%
	padding 35px 0
	height auto
	.col-4
		&:not(:last-child)
			margin-bottom 40px
			@media screen and (min-width $md)
				margin-bottom 0
	.footer-copy__text
		color #000
		lh(24)
		fz(14)
	.footer__dev
		padding-left 55px
		background url('../images/devels-logo.png') 0 0 no-repeat
		lh(22)
		a
			position relative
			color #000
			&:before
				content ""
				absolute(left 0 bottom -2px)
				height 1px
				width 100%
				background-color rgba(red, 0.3)
	@media screen and (min-width $md)
		height 169px
		padding 20px 0 10px
		.footer-copy__text
			fz(15)