mixin seotext(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	div(class=spec.__class)&attributes(attributes)
		.links-head
			h2 Сеотекст
		.grid
			.col-6
				p.
					Мы начали свою работу в 2009 году в Москве и Московской области. Изначально нашими основным достоинствами были наилучшее в столичном регионе соотношение цена-качество (превосходные составы из московских конфет при недорогой цене) и хороший сервис. Качество товара и высокий уровень сервиса были и будут основными приоритетами нашей работы.
			.col-6
				p.
					Качество товара это в первую очередь свежие конфеты. Свежие конфеты это когда их заказывают с фабрики непосредственно для сборки подарков, минуя хранение на складе. Высокий уровень сервиса: это своевременная доставка, помошь при выборе подарка, быстрота обслуживания. То есть надежность и человеческое отношение к клиентам. На нас можно положиться, мы ценим Ваше время и ждем что Вы вернетесь к нам в следующем году.
