// footer_soc styles
.footer-soc
	margin 30px 0
	display flex
	align-items center
.soc__txt
	flex 0 0 93px
	margin-right 20px
.icon
	margin-right 30px
@media screen and (min-width $xs) and (max-width 23.75em)
	.m-footer
		.footer-soc
			justify-content space-between
		.btn--invert
			padding 0.2em 0.4em
		
@media screen and (min-width $md)
	.footer-soc
		margin 0
		justify-content flex-end
		.soc__txt, .icon
			display none
	

	