mixin footer_soc(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.soc__txt= site.data.global.footerSoc
		a.icon.icon--vk
			img(src="../images/icon-vk.png", alt="")
		a.btn.btn--invert.js-modal(href="#callback")= site.data.global.calQ



