// modal_callback styles
.modal--cols
	padding 0 !important
	h2
		fz(24)
		lh(22)
		color #000
		&+p
			fz(16)

	.popup-header
		.popup-close
			right 0px
			top 0px
			width 25px
			height 25px
.modal__left
	height 100%
	background url('../images/callback-bg.jpg') 30% 30% no-repeat
	background-size cover
	text-align center
	padding 145px 35px
	display none
.modal__right
		padding 10px 10px 30px 10px
		input[type="text"]
			border-radius 17px
			border 1px solid rgb(210, 213, 225)
			height 35px
			color black
			padding-left 90px
			&:focus
				border 1px solid rgb(210, 213, 225)
				color black
		.form-el
			position relative
			display flex
			flex-flow row wrap
			align-items center
			label
				flex 0 0 80px
				color #000
				font-weight 700
				width 80px
				padding-left 10px
				&+input[type="text"]
					margin-left -80px
			.form-el__helper
				display none
			&.error
				.form-el__helper
					color #ff6600
					flex 0 0 100%
					display block
			&.text-right
				text-align right
				display flex
				justify-content flex-end
				.btn
					display inline-block
		textarea
			border-radius 17px
			border 1px solid rgb(210, 213, 225)
			height 100px
			padding 10px
			color #000
			font-weight 700
.popup__footer
	text-align right
	display flex
.btn--submit
	background #0099bf
	color #fff
	text-transform uppercase
	max-width 215px
	height 45px !important
	color white !important
@media screen and (min-width $md)
	.modal--cols
		width 998px
		border-radius 10px
		overflow hidden
		h2
			fz(30)
			lh(30)
			margin-bottom 0px
			&+p
				fz(18)
				lh(22)
				margin-top 5px
				margin-bottom 30px
	.modal__right
		padding 30px 55px 30px 35px
		.span
			flex 0 0 70%
			padding-right 30px
			text-align left
			fz(14)
			lh(22)
		div
			&:last-child
				flex 0 0 30%
				a
					margin-left 10px
					display inline-block
					filter grayscale(1)
					opacity 0.55
	.modal__left
		display block
	.modal--cols
		.popup-header
			.popup-close
				right -30px
				top -10px
				width 25px
				height 25px
