mixin modal_callback()
	.popup-overlay
	div(class="modal modal--cols", id="callback")
		.grid
			.col-4
				.modal__left
			.col-8
				.modal__right
					.popup-header
						.popup-close
					.popup-body
								h2 Задайте любой вопрос
								p Менеджер ответит в течение 20 минут
								form(action="")
									.form-el
										label(for="formName") Ваше имя
										input.form-inp(id="formName", type="text", name="formName", placeholder="Константин")
										.form-el__helper
											span Ошибка: Напишите свое имя
									.form-el.error
										label(for="formMail") Почта
										input.form-inp(id="formMail",type="text", namme="formMail", placeholder="mymailyandex.ru")
										.form-el__helper
											span Ошибка: неверный формат почты
									.form-el
										textarea(name="msg", placeholder="Сообщение")
									.form-el.text-right
										input(type="submit", class="btn btn--submit", Отправить сообщение)
								.popup__footer
									.span.
										Так же вы можете задать вопрос прямо
										онлайн в вашем любимой мессенджере
									div
										a(href="")
											img(src="../images/icon-skype.svg")
										a(href="")
											img(src="../images/icon-telegram.svg")


