// footer_cats styles
.footer__cats
	display flex
	ul
		padding-left 0
		li
			a
				color $footerColorCatsLink
				text-decoration none
	.list-head
		fz(15)
		lh(25)
		color #fff
		font-weight $bold
.footer__services
	.footer__cat
		&:first-child
			display none
			@media screen and (min-width $md)
				display block
// стили плагина colToTabs
.js-tabs-transformer
	.toTabs__nav
		display flex
		justify-content space-between
		border-bottom 1px solid #945653
		& > *
			color $footerColorCatsLink
			fz(14)
			padding-bottom 12px
			padding-left 5px
			padding-right 5px
			border-bottom 1px solid transparent
			flex 0 0 auto
			relative(bottom -1px)
			&.active
				color #fff
				border-color #fff
	.toTabs__tab
		li
			lh(20)
			margin-bottom 15px
			a
				fs(14)
@media screen and (min-width $md)
	.footer__cat
		&:nth-child(2)
			padding-left 45px
		&:nth-child(4)
			padding-left 20px
		ul
			margin-top 10px
