mixin footer_cats(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.grid
			.col-6
				.grid
					.footer__cat.js-toTabs
						+list('Упаковка', site.data.footer_cats1, true)
					.footer__cat.col-2.js-toTabs
						+list('Вес', site.data.footer_cats2, true)
					.footer__cat.js-toTabs
						+list('Стоимость', site.data.footer_cats3, true)
					.footer__cat.col-2.js-toTabs
						+list('Для кого', site.data.footer_cats4, true)
			.col-6
				.grid.footer__services
					.footer__cat.col-2
						+list('', site.data.footer_gifts, true)
					.footer__cat.col-4
						+list('', site.data.footer_services, true)
