// about_mission styles
.about-mission
	padding 50px 0
	text-align center
	h2
		color $primary-color
		font-family fontHeadBold
		margin-top 0
	.mission__descr
		text-align left
		margin-bottom 20px
		h3
			margin-top 0
			color black
			margin-bottom 10px
			line-height 1
		p
			margin-top 0
			margin-bottom 0
			color #8f7b71
	.mission-box
		box-shadow 0px 21px 40px 0px rgba(8, 23, 89, 0.24)
		border-radius 10px
		max-width 80%
		margin-left auto
		margin-right auto
		.mission__content
			padding 20px
			text-align left
			h3
				color $primary-color
			p
				fz(16)
				lh(20)
				color #8f7b71
		.mission__sighn
			text-align right
		.mission__img
			overflow hidden
			position relative
			height 400px
			background url("../images/mission-img.jpg") center 40% no-repeat
			background-size cover
@media screen and (min-width $md)
	.about-mission
		margin-left 60px
		margin-right 60px
		.container
			width 864px
			padding-left 20px
			padding-right 20px
		.mission__descr
			max-width 60%
			p
				line-height 20px
		.mission-box
			max-width none
			.mission__content
				h3
					fz(30)
					lh(31)
					font-family fontHeadBold
					margin-bottom 25px
					margin-top 0
			.mission__img
				height 100%

