mixin about_mission(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h2 Наша миссия
			.mission__descr
				h3 Производить качественные новогодние подарки
				p.
					Генеральный директор ООО "Москондитер"
					Чупова Светлана Анатольевна
			.mission-box
				.grid
					.col-6
						.mission__content
							h3.
								Мы будем рады видеть Вас в числе наших партнеров! Надеемся оправдать Ваше доверие!
							p.
								Генеральный директор ООО "Москондитер"
								Чупова Светлана Анатольевна.
							.mission__sighn
								img(src="../images/sign.png")
					.col-6
						.mission__img
