// gift_card styles
.gift-card
	padding 35px 30px 40px
	color: #fff
	border-radius 0 0 0px 30px
	margin-bottom 20px
	overflow hidden
	height 394px
	background-repeat no-repeat
	background-size cover
	max-width 340px
	margin-left auto
	margin-right auto
	position relative
	cursor pointer
	&.gift-card--min
		height 195px
		.gift-card__label
			fz(16)
			lh(22)
		.gift-card__title
			fz(20)
			lh(22)
			text-transform uppercase

		.gift-card__name
			max-width 180px
		.gift-card__count
			fz(16)
			lh(22)
		.gift-card__price
			fz(20)
			lh(22)
	&.gift-card--center
		padding-bottom 25px
		.gift-card__body
			text-align center
			align-items center
		.gift-card__title
			fz(20)
			lh(22)
			text-transform uppercase
		.gift-card__label
			fz(16)
			lh(18)
		.gift-card__count
			fz(16)
			lh(22)
		.gift-card__price
			fz(20)
			lh(22)
			letter-spacing 0.06em
	.gift-card__label
		fz(20)
		lh(32)
	.gift-card__title
		font-family fontHeadBold
		fz(30)
		lh(32)
		text-transform uppercase
		letter-spacing 0.06em
	.gift-card__price
		font-family fontHeadBold
		fz(30)
		lh(40)
		text-transform uppercase
	.gift-card__count
		fz(20)
		lh(40)
	&.gift-card--sand
		background-position center
		background-color #ffca03
		.gift-card__count
			color: #7a4733
		.gift-card__label
			color: #7a4733
			fz(16)
			lh(28)
		.gift-card__title
			fz(30)
			lh(32)
		.gift-card__img
			background-position center
			background-repeat no-repeat
			background-size 140%
			width 100%
			left 50%
			transform translateX(-50%)
			@media screen and (min-width $md)
				background-size cover
	&.gift-card--red
		background-position center
		background-size cover
		.gift-card__img
			background-size cover
		.gift-card__count
			color: #ff6466
	&.gift-card--blue
		background-image radial-gradient( 50% 50%, circle closest-side, rgb(71,163,189) 25%, rgb(0,48,142) 100%)
		background-position right center
		.gift-card__img
			width 100%
			height 100%
			background-position 60% 70%
			background-repeat no-repeat
			background-size cover
		.gift-card__count
			color: #5eb5c8
	&.gift-card--lightblue
		background-position right center
		background-color #5fb9ed
		.gift-card__img
			width 100%
			height 100%
			background-position right center
			background-repeat no-repeat
		.gift-card__count
			color: #206791
	&.gift-card--darkblue
		background-position right center
		background-color #422ebc
		.gift-card__img
			width 100%
			height 100%
			background-position right center
			background-repeat no-repeat
		.gift-card__count
			color: #3e8dce
	&.gift-card--braun
		background-color #935740
		.gift-card__img
			width 100%
			height 100%
			background-position right center
			background-repeat no-repeat

		background-position right center
		.gift-card__count
			color: #3f0000
	&.gift-card--green
		background-position center
		.gift-card__img
			background-color #008040
			background-size cover
			background-position center
			background-repeat no-repeat
		.gift-card__count
			color: #fff
	&.gift-card--reverse
		.gift-card__name
			display flex
			flex-flow column-reverse nowrap
	.gift-card__img
		absolute(left 0 top 0)
		width 100%
		height 100%
		z-index 1
		background-repeat no-repeat
		img, picture
			width 100%
			height 100%
	.gift-card__body
		position relative
		z-index 2
		display flex
		flex-flow column nowrap
		justify-content space-between
		align-items flex-start
		height 100%
@media screen and (min-width $md)
	.gift-card
		width auto
		max-width none
		padding 15px 30px 40px
		.gift-card__title
			fz(40)
			lh(40)
			max-width 80%
		.gift-card__label
			fz(20)
			lh(22)
			margin-bottom 10px
		.gift-card__count
			fz(20)
			lh(40)
		.gift-card__price
			fz(40)
			lh(40)
		&.gift-card--center
			padding 25px 20px
			.gift-card__title
				fz(20)
				lh(22)
				max-width 80%
				margin-left auto
				margin-right auto
			.gift-card__label
				fz(16)
				lh(18)
				margin-bottom 5px
		&.gift-card--min
			padding 15px 25px 35px
			.gift-card__label
				margin-bottom 0px
		&.gift-card--red
			padding 25px 45px
			text-align center
			.gift-card__title
				max-width none
				fz(20)
				lh(22)
			.gift-card__label
				fz(16)
				lh(18)
			.gift-card__name, .gift-card__bottom
				width 100%
			.gift-card__count
				fz(16)
				lh(22)
			.gift-card__price
				fz(20)
				lh(22)
		&.gift-card--sand
			padding 45px 45px 55px
			.gift-card__label
				fz(20)
				lh(22)
			.gift-card__title, .gift-card__price
				fz(40)
				lh(40)
			.gift-card__count
				fz(20)
				lh(40)