mixin gift_card(label, title, bg, count, price, alt)
	.gift-card(class= alt)
		.gift-card__img(style='background-image: url('+ bg +');')

		.gift-card__body
			.gift-card__name
				.gift-card__label= label
				.gift-card__title= title
			.gift-card__bottom
				.gift-card__count= count
				.gift-card__price= price
					span.rouble &#8399;



