// top_location styles
.top__location
	text-align right
	display flex
	justify-content flex-end
	align-items center
	cursor pointer
	position relative
	span
		color #fff
		fz(14)
		lh(18)
		margin-left 8px
		&:first-of-type
			display none
		
.icon--location
	background url('../images/location.png') 0 0 no-repeat
	width 13px
	height 16px
	background-size contain
.local-qwery
	absolute(right 0 bottom -160px)
	background-color rgb(255, 255, 255)
	box-shadow 0px 20px 40px 0px rgba(224, 33, 33, 0.7)
	width 219px
	height 148px
	padding 20px
	box-sizing border-box
	border-radius 10px
	z-index 100
	text-align center
	&:before
		content ''
		absolute(right 0 top -13px)
		display block
		border-top 10px solid transparent
		border-left 10px solid transparent
		border-right 10px solid white
		border-bottom 10px solid white
		width 0
		height 0
	a
		display inline-block
		margin-bottom 10px
		text-transform uppercase
		fs: 13px
		font-weight $bold
		text-align center
		line-height 43px
		width 100%
		text-decoration none
	.ok
		border-radius 3px
		background-color rgb(225, 33, 33)
		height 43px
		color white
	.not
		border 1px solid rgba(236, 40, 42, 0.3)
		border-radius 3px
		background-color rgba(225, 33, 33, 0)
		height 45px
		color $primary-color
@media screen and (min-width $md)
	.top__location
		span
			color $primary-color
			&:first-of-type
				display block
				color $topMenuColor
				font-weight $normal
		.icon--location
			background-image: url('../images/location-red.png')
	