mixin top_location(spec)
	.top__location
		.icon--location
		span= site.data.global.yourCity
		span= site.data.global.city3
		.local-qwery
			a.ok(href="/") Да, все верно
			a.not(href="/") Нет, выбрать другой
