// fixbot styles
.fixbot
	display none
	.col-2
		position relative
@media screen and (min-width $lg)
	.fixbot
		fixed(bottom 0 left 0)
		width 100%
		height 50px
		display flex
		background-color: #009cbe
		justify-content space-between
		align-items center
		z-index 90
		padding-top 2px
		.container
			padding 0
	.fixbot__speech
		display none
		max-width 485px
	.fixbot__callback
		display flex
		align-items center
		margin-top 10px
	.callback__link, .callback__views, .callback__likes
		display flex
		align-items center
		font-weight $bold
		fz(16)
		color: #fff
		cursor pointer
		span
			margin-left 10px
	.callback__link
		margin-right 30px
	.callback__views
		margin-right 35px
	.callback__counts
		fz(11)
		lh(18)
		color: #fff
		font-weight: $bold
		border 1px solid #54c2da
		border-radius 100%
		width 19px
		height 19px
		min-width 19px
		text-align center
		margin-left 5px
		flex 0 0 auto
	.fixbot__search
		text-align right
		position relative
		left 110px
		input[type="submit"]
			background none
			font-weight: $bold
			text-transform uppercase
			color: #fff
			letter-spacing 0.08em
			fz(12)
			relative(left -70px)
			cursor pointer
		input[type="text"]
			border 1px solid #54c2da
			placeholder(color #54c2da,)
			fz(14)
			padding 12px 15px
			border-radius 30px
			width 365px
			height 36px
	.fixbot__cart
		cursor pointer
		width 146px
		height 60px
		background-color: #008aa8
		absolute(right 0 top -8px)
		color: #fff
		font-weight: $bold
		display flex
		justify-content space-between
		align-items center
		flex-flow row nowrap
		padding 12px 15px
		span
			fz(16)
		.cart__counter
			width 19px
			height 19px
			border 2px solid white
			font-weight: $bold
			text-align center
			fz(11)
			line-height 16px
			margin-left 3px
			background-color: $primary-color
			border-radius 100%
		img
			margin-right 8px

	.fixbot__speech
		fixed(bottom 70px left 31%)
		display none
		background-color: #FFF
		box-shadow 0px 10px 40px 0px rgba(95, 3, 3, 0.35)
		border-radius 10px
		z-index 90
		width 1250px
		transform translateX(-50%)
		&:before
			content ""
			border-left 11px solid transparent
			border-right 11px solid transparent
			border-top 12px solid $primary-color
			absolute(left 85px bottom -12px)
	.speech__top-outer
		background-color $primary-color
		color: #fff
		height 100%
		border-radius 10px
		display flex
		flex-flow column wrap
		justify-content space-between
	.speech__right-outer, .speech__top-outer
		padding 45px 30px 20px
	.speech__right-outer
		padding-left 10px
	.speech__contact
		margin-bottom 45px
		color: #ff9999
		lh(22)
		fz(16)
		strong
			fz(18)
			color: #fff
			font-weight: $bold
	.speech__top
		display flex
		flex-flow column nowrap
		.speech__contact
			&:last-child
				display flex
				align-items flex-end
				margin-bottom 0
				&>div
					&:last-child
						margin-left 30px
	.speech__soc
		a
			margin-right 10px
			filter grayscale(10) brightness(50)
	.speech__right-outer
		h3
			color: #000
			fz(18)
			lh(22)
			margin-top 0
			margin-bottom 15px
		.form-inp
			border-radius 30px
			border 1px solid #d2d5e1
			fz(14)
			lh(22)
			placeholder(color #898989,)
			padding-left 15px !important
			&:focus
				border-color black !important
				color: #000
		.form-group--inline
			display flex
			input
				flex 0 0 48%
				&:first-child
					margin-right 20px
		input[type="submit"]
			width 106px
			fz(14)
			text-transform none
			font-weight: $normal
			padding 0.7em 1em
			line-height 15px
	.form-el
		&:last-child
			text-align right
	.fixbot__history.leading
		fixed(bottom 70px left 20px)
		display none
		background-color: $primary-color
		box-shadow 0px 10px 40px 0px rgba(95, 3, 3, 0.35)
		border-radius 10px
		z-index 90
		width 1280px
		left 50%
		transform translateX(-50%)
		padding 40px 35px
		&:before
			content none
			content ""
			background none
			border-left 11px solid transparent
			border-right 11px solid transparent
			border-top 12px solid $primary-color
			absolute(left 165px bottom -12px)
			top auto
			height auto
			width 0
	.speech__bottom
		padding 2em 0 1em
		display flex
		justify-content space-between
		align-items center
		.btn
			color white
			border-color white
			&:hover
				color $primary-color
