include ../gifts_item/gifts_item
mixin fixbot(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.grid
				.col-5
					.fixbot__callback
						.callback__link
							img(src="../images/mess.png", alt)
							span Обратная связь
						.callback__views
							img(src="../images/views.png", alt)
							span.callback__counts 2
						.callback__likes
							img(src="../images/like.png", alt)
							span.callback__counts 7
				.col-5
					.fixbot__search
						form(action="")
							input(type="text", class="form-inp", placeholder="Поиск по каталогу")
							input(type="submit", value="Найти")
				.col-2
					.fixbot__cart
						img(src="../images/cart-fix.png", alt)
						span Корзина
						span.cart__counter 5
		.fixbot__speech
			.speech__top-outer
				.speech__top
					.speech__contact
						strong Адрес
						div 125284, г. Москва, улица
						div Беговая, дом 13
					.speech__contact
						div
							strong.
								Телефон
							div.
								+7 (495) 961 46 70
							div.
								Телефон в Москве
						div
							div.
								|8 (800) 333 34 54
							div.
								России звонок бесплатный
				.speech__bottom
					.speech__soc
						a(href="")
							img(src="../images/skype-speech.png", alt="")
						a(href="")
							img(src="../images/vk-speech.png", alt="")
						a(href="")
							img(src="../images/ok-speech.png", alt="")
						a(href="")
							img(src="../images/fb-speech.png", alt="")
						a(href="")
							img(src="../images/insta-speech.png", alt="")
					a(href="#callback", class="call js-modal btn btn--default btn--md") Перезвоните мне


		.fixbot__history.leading
			.grid
				.col-3
					+gifts_item("../images/lead-1.jpg", "Золотой гребешок", "500 Р.", "650 гр.")
				.col-3
					+gifts_item("../images/lead-2.jpg", "Елочка", "500Р.", "650 гр.")
				.col-3
					+gifts_item("../images/lead-3.jpg", "Сила в спортеСаночки", "500 Р.", "650 гр.")
				.col-3
					+gifts_item("../images/lead-4.jpg", "Саночки", "500 Р.", "650 гр.")
