mixin top(spec)
	.header-top
		.container
			.grid
				.col-3.col-md-1.col-lg-1
					.top__menuBtn
					.top__cart
						.icon.icon--cart-min
						span= site.data.global.cart
						span.cart__counter= site.data.global.cartCount
				.top__services.col-md-2.col-lg-2
					+list('', site.data.top_services, true)
				.col-6.top__services
					+list('', site.data.top_menu, true)
				.col-3
					+top_location()