// top styles
.header-top
	padding 12px 0 7px
	color white
	background-color $primary-color
	position fixed
	width 100%
	left 0
	top 0
	z-index 101
	@media screen and (min-width $md)
		position static
.top__menuBtn
	background url('../images/menu-toggler.png') 0 0 no-repeat
	width 22px
	height 15px
	background-size contain
	display inline-block
	cursor pointer
	&.toggled
		background-image: url('../images/close.png')
		@media screen and (min-width $md)
			background-image: url('../images/close-red.png')
.top__cart
	display inline-flex
	align-items flex-start
	margin-left 32px
	.icon--cart-min
		background url(../images/cart-min.png) 0 0 no-repeat
		background-size contain
		width 20px
		height 18px
		margin-right 6px
		&+span
			fz(14)
			lh(15)
	.cart__counter
		background-color #FFF
		color $primary-color
		border-radius 50%
		width 17px
		height 17px
		text-align center
		margin-left 4px
		font-weight $bold
		fz(11)
		lh(18)
.top__services
	display none
@media screen and (min-width $xs) and (max-width 23.75em)
	.top__cart
		margin-left 10px
	a.header__btnContacts
		margin-right 0
@media screen and (min-width $md)
	.top__cart
		display none
	.top__services
		display block
		ul
			margin 0
			display flex
			li
				lh(10)
				margin-right 18px
				margin-bottom 0
				a
					text-decoration none
					color $topMenuColor
					fz(14)

	.header-top
		background-color #FFF
		padding-bottom 0
		.container
			border-bottom 1px solid #dddddd
			padding-bottom 9px
	.top__menuBtn
		background-image: url('../images/menu-toggler-red.png')
		cursor pointer
