mixin fabric_item(spec, img, title, count)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class= spec)
		.fabrics-carousel__logo
			img(src= img)
		.fabrics-carousel__title= title
		.fabrics-carousel__count= count
