// fabric_item styles
.fabrics-carousel__item
	text-align center
	fz(16)
	lh(19)
	.fabrics-carousel__logo
		margin-bottom 10px
		text-align center
		height 75px
		max-width 90px
		margin-left auto
		margin-right auto
		img
			margin: auto
			max-width 100%
	.fabrics-carousel__title
		color: $primary-color
	@media screen and (min-width $md)
		.fabrics-carousel__logo
			max-width none