//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'
include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/copyright/copyright
include ../_modules/footer_cats/footer_cats
include ../_modules/footer_soc/footer_soc
include ../_modules/footer_menu/footer_menu
include ../_modules/list/list
include ../_modules/header_logo/header_logo
include ../_modules/header_phone/header_phone
include ../_modules/main_menu/main_menu
include ../_modules/main_menu_search/main_menu_search
include ../_modules/header_cart/header_cart
include ../_modules/top_location/top_location
include ../_modules/modal_contact/modal_contact
include ../_modules/top/top
include ../_modules/fixbot/fixbot
include ../_modules/popup/popup
include ../_modules/modal_callback/modal_callback
doctype html
<html class='no-js' lang='ru'>

head
  block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= site.data.global.siteName
    meta(name='description', content= site.data.global.siteName)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block stylesheets
      link(rel='stylesheet', href= 'http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic')
      link(rel="stylesheet", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
      link(rel="stylesheet", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
      link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
      link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  .wrapper
    .page
      block header
        +header(class="header")

      block content

      block foot
        +footer(class="m-footer")
      +fixbot(class="fixbot")
      +modal_contact()
      +popupLocal()
      +modal_callback()
  block scripts
    script(src='http://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin="anonymous")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.2.0/script/jquery.jscrollpane.min.js')
    script(src= baseUrl + 'scripts/main.js')

</html>
