mixin cert(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.cert-outer
			.container
				.grid
					.col-9.col-xs-6
						h3 Все подарки сертифицированы
						p.
							Конфеты должны соответствовать определенным стандартам качества.Эти стандарты установлены государством, а закреплены в виде так называемых ГОСТов и ТУ (Технических Условий).  У нас же Вы сможете получить заверенную копию сертификата соответствия и потребовать предъявить оригинал. Поэтому Вы можете быть уверенны в качестве наших подарков.
					.col-3.col-xs-6
						img(src="../images/cert.png", alt="")