// cert styles
.cert
	text-align center
	background-color $primary-color
	padding 30px 0
	color: #fff
	margin-bottom -120px
	h3
		fz(25)
		lh(33)
		margin-bottom 20px
	p
		color: #fff
		lh(20)
		margin-bottom 20px
	img
		position relative
		z-index 2
		box-shadow 0 21px 30px 5px rgba(#081759, 0.24)
	@media screen and (min-width $md)
		text-align left
		background none
		margin-bottom 130px
		h3
			fz(30)
			lh(40)
			margin-top 30px
		h3
		p
			padding-left 35px
		.col-3
			order 1
		.col-9
			order 2
		.cert-outer
			margin-left 15px
			margin-right 15px
			border-radius 10px
			background-color $primary-color
		img
			margin-top 35px
			margin-bottom -70px
	@media screen and (min-width $lg)
		h3
		p
			padding-left 0px
@media screen and (max-width 1024px)
	.cert
		overflow hidden
	.cert h3, .cert p
		padding-left 0
	.cert img
		margin-bottom 20px