mixin detsad-banner(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	div(class=spec.__class)&attributes(attributes)
		.container
			h1= site.data.landbanner.title
			p= site.data.landbanner.text
			a.btn.btn--default(href="")= site.data.global.catBtn
			.banner__sub= site.data.global.catInfo
