// detsad-banner styles
.main-banner
	&.main-banner--land
		background-image: url('../images/landing/banner-xs.jpg')
		@media screen and (min-width $md)
			background-image: url('../images/landing/banner-md.jpg')
			.btn
			.banner__sub
				display none
		@media screen and (min-width $lg)
			background-image: url('../images/landing/banner-lg.jpg')
			.btn
			.banner__sub
				display none