// gift_list styles
.gift-list
	padding 25px 0 25px
	@media screen and (min-width $md)
		padding 195px 0 25px
	@media screen and (max-width 1023px) and (min-width 768px)
		.gift-card
			margin  20px auto
		.grid
			grid-template-columns repeat(2, 1fr)
			.col-xs-6
				grid-column auto/span 1
