mixin gift_list()
	.gift-list
		.container
			.grid
				.col-8.col-xs-6
					+gift_card("Подарки в", "Упаковке из текстиля", "../images/card-bg-1-lg.jpg", "28 подарков", "от 310", "gift-card--blue")
				.col-4.col-xs-6
					+gift_card("Подарки для взрослых", "корпоративные презенты", "../images/card-bg-2-lg.jpg", "14 подарков", "от 460 ", "gift-card--center gift-card--green")
			.grid
				.col-4.col-xs-6
					+gift_card("Подарки в", "упаковке из дерева", "../images/card-bg-3-lg.jpg", "13 подарков", "от 270 ", "gift-card--min gift-card--braun")
				.col-4.col-xs-6
					+gift_card("Подарки в", "картонной упаковке", "../images/card-bg-4-lg.jpg", "37 подарков", "от 320", "gift-card--min gift-card--lightblue")
				.col-4.col-xs-6.gift-5
					+gift_card("Подарки в", "металлической упаковке", "../images/card-bg-5-lg.jpg", "64 подарков", "от 190", "gift-card--min gift-card--darkblue")
			.grid
				.col-4.col-xs-6
					+gift_card("для взрослых", "Премиум подарки", "../images/card-bg-6-lg.jpg", "28 подарков", "от 1 310", "gift-card--red gift-card--reverse")
				.col-8.col-xs-6
					+gift_card("Наборы подарков для ", "Детских садов", "../images/card-bg-7-lg.jpg", "14 подарков", "от 460", "gift-card--center gift-card--sand")
