.breadcrumbs {
    padding: 8px 0 0;
    list-style: none;
    margin: 0;
    border-top: 1px solid #ddd;
    height: 33px;
    overflow: hidden;
    margin-bottom: 5px;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 8px;
    margin-bottom: 0;
    line-height: 25px;
}
.breadcrumbs li:before {
    content: '/';
    font-size: 15px;
    font-size: .9375rem;
    line-height: 19px;
    line-height: 1.1875rem;
    color: #ddd;
    position: absolute;
    top: 3px;
    right: -1px;
}
.breadcrumbs li.last:before {
    display: none;
}
.breadcrumbs li a {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 19px;
    line-height: 1.1875rem;
    color: #b27d7d;
    text-decoration: none;
}
@media screen and (min-width: 1024px){
    .breadcrumbs {
        margin: 43px 0 14px;
        border-top: 0;
    }
}