.sale-basket-block{
	position: relative;
	border-top: 1px solid #dddddd;
    padding-top: 15px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.sale-basket-block h1{		
    font-family: 'BloggerSans-Bold';
    color: #e12121;
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 0;
}
.btn.btn-reset{
	border: 1px solid #d2d5e1;
    font-size: 16px;
    line-height: 15px;
    font-weight: normal;
    color: #e12121;
    padding: 8px 9px 9px;
    letter-spacing: -0.2px;
    display: block;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.sale-basket-block form{
    width: 100%;
    padding-top: 16px;
}
.basket-table{
	margin:0 -20px;
}
.basket-table-head{
	display: none;
}
.basket-table-row{
    position: relative;
    padding: 20px 20px 25px;
    -webkit-box-shadow: 0 12px 50px 0px rgba(215, 217, 221, 0.9);
    box-shadow: 0 12px 50px 0px rgba(215, 217, 221, 0.9);
}
.inner-row{
	display: table;
	width:100%;
	table-layout: fixed;
}
.col-value{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.num-position-col{
	display: none;
}
.basket-table-body .image-position-col{
	width:70px;
	height:70px;
    text-align: center;
    line-height: 70px;
	float:left;
}
.image-position-col .col-value{
	width: 100%;
	height: 70px;
	padding: 0;
	background-color: #f8f8f7;
}
.image-position-col .col-value img{
    max-height: 60px;
    display: block;
    margin: 0 auto;
}
.title-position-col{
    margin-left: 117px;
    padding-top: 10px;
    height: 46px;
    overflow: hidden;
    margin-bottom: 20px;
    color: #000;
}
.price-position-col{
    margin-left: 116px;
    font-size: 14px;
    color: #000;
    margin-bottom: 4px;
    white-space: nowrap;
}
.quantity-position-col{
	float:right;
    margin-top: -21px;
}
.quantity-position-col .item-spinner {
    width: 106px;
}
.quantity-position-col .item-spinner input{
    border-radius: 3px;
    height: 40px;
    padding: 8px 29px 7px 36px;
    font-size: 16px;
    font-weight: normal;
}
.quantity-position-col .item-spinner a{
    width: 34px;
    height: 40px;
    line-height: 38px;
}
.quantity-position-col .item-spinner .btn-left{
	padding-left:2px;
}
.quantity-position-col .item-spinner .btn-right{
	width:29px;
}
.sum-position-col{
	margin-left: 116px;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
}
.delete-position-col{
    position: absolute;
    bottom: 27px;
    left: 27px;
}
.delete-position-col a{
	text-decoration: none;
	color: #000;
	opacity: 0.5;
}
.basket-table-footer{
	padding: 40px 20px 20px;
}
.basket-sum{
    padding-bottom: 16px;
	border-bottom:2px solid #eff0f4;
}
.basket-sum-row{
	background-image: -webkit-linear-gradient(left, #bec1cc 2px, transparent 2px);
    background-image: linear-gradient(to right, #bec1cc 2px, transparent 2px);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px;
    line-height: 15px;
}
.basket-sum-row span{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    padding-right: 7px;
    letter-spacing: 0.2px;
    padding-top: 2px;
}
.basket-sum-row span:last-of-type{
	padding-left:7px;
	padding-right:0;
    letter-spacing: 0;
}
.basket-sum-count{
	color: #8f7b71;
	font-size: 14px;
}
.basket-delivery{
	padding-top:41px;
    padding-bottom: 36px;
}
.basket-delivery label{
    color: #8f7b71;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
}
.basket-delivery input{
    width: 100%;
    padding: 10px 10px 12px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 14px;
    color: #8f7b71;
    border-radius: 5px;
    font-family: 'PT Sans', sans serif;
    border: solid 1px #d2d5e1;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.basket-delivery-row{
	background-image: -webkit-linear-gradient(left, #bec1cc 2px, transparent 2px);
    background-image: linear-gradient(to right, #bec1cc 2px, transparent 2px);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 7px;
    line-height: 15px;
}
.basket-delivery-row span{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    padding-right: 7px;
    letter-spacing: 0.2px;
    padding-top: 2px;
}
.basket-delivery-row span:last-of-type{
	padding-left:7px;
	padding-right:0;
    letter-spacing: 0;
}
.basket-amount-block{
	background-color: #eff0f4;
    margin: 0 -20px;
    padding: 34px 20px 41px;
}
.basket-promocode{
	padding-bottom: 7px;
    border-bottom: 1px solid #c9c1c0;
}
.basket-promocode label{
    color: #8f7b71;
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
}
.basket-promocode input{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 143px);
    padding: 12px 14px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 14px;
    color: #8f7b71;
    border-radius: 5px;
    font-family: 'PT Sans', sans serif;
    border: solid 1px #eff0f4;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default {
    border: 1px solid #f4bcbc;
    font-size: 16px;
    line-height: 16px;
    color: #e12121;
    padding: 13px 26px 13px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}
.basket-promocode-col{
	margin-bottom:20px;
}
.basket-promocode-col span{
    color: #8f7b71;
    font-size: 16px;
    display: block;
    margin-bottom: 3px;
}
.basket-amount{
    padding-top: 16px;
}
.basket-amount-block .basket-amount-row{
	background-image: -webkit-linear-gradient(left, #a6a9b3 2px, transparent 2px);
    background-image: linear-gradient(to right, #a6a9b3 2px, transparent 2px);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 9px;
    line-height: 15px;
}
.basket-amount-block .basket-amount-row .basket-amount-col{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    background-color: #eff0f4;
    padding-right: 7px;
    letter-spacing: 0.2px;
    padding-top: 2px;
}
.basket-amount-block .basket-amount-row:first-of-type .basket-amount-col{
	color: #8f7b71;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: -0.2px;
}
.basket-amount-block .basket-amount-row .basket-amount-col:last-of-type{
	padding-left:7px;
	padding-right:0;
    letter-spacing: -0.4px;
}
.basket-amount-last-fix{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 -10px 20px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -10px 20px 6px rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.basket-amount-last{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin:0 -20px;
	padding:13px 20px 20px;
}
.basket-amount-last>.basket-amount-col:first-of-type{
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 7px;
	width:100%;
    margin-bottom: 10px;
}
.basket-amount-last>.basket-amount-col>span{
	color: #ff0000;
	font-size: 16px;
	display: block;
	margin-bottom: 1px;
}
.basket-amount-last .basket-amount-row>div:first-of-type{
	color: #8f7b71;
	font-size: 14px;
}
.basket-amount-last .basket-amount-row>div:last-of-type{
	color: #000;
    font-weight: 700;
}
.to-order{
	font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #fff;
    padding: 8px 23px 9px;
    letter-spacing: -0px;
    display: block;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    background-color: #fe0000;
}
.to-order.disabled,
.to-order[:disabled]{
    background-color: #d9d9d9;
}
@media screen and (min-width:1024px){
	.sale-basket-block {
	    padding-top: 49px;
	}
	.sale-basket-block h1{
		font-size: 40px;
	    letter-spacing: 2.5px;
	    text-transform: uppercase;
	    line-height: 46px;
        padding-top: 5px;
	}
	.btn.btn-reset{
		margin-right:12px;
	}
	.basket-table {
	    margin: 0;
	}
	.basket-table-head{
		display: table;
		width:100%;
	    padding-top: 14px;
	    padding-bottom: 9px;
	    margin-bottom: 5px;
        border-bottom: 2px solid #eff0f4;
	}
	.basket-table-head>div{
		font-size: 16px;
		font-weight: normal;
		color: #8f7b71;
		display: table-cell;
		vertical-align: top;
		white-space: nowrap;
		padding-top:0;
		padding-bottom:0;
		margin:0;
		float: none;
	}
	.basket-table-row{
		display: table;
		width:100%;
		padding:0;
		box-shadow: none;
    	border-bottom: 2px solid #eff0f4;
	}
	.basket-table-row>div{
		display: table-cell;
		vertical-align: middle;
		padding-top:3px;
	}
	.left-position{
		text-align: left;
	}
	.right-position{
		text-align: right;
	}
	.center-position{
		text-align: center;
	}
	.num-position-col{
	    width:1.86%;
	}
	.image-position-col{
	    width:16.62%;
	}
	.title-position-col{
	    width:22.07%;
	    height: auto;
	    padding-top:0;
	}
	.price-position-col{
	    width:19.15%;
        padding-right: 111px;
        font-size: 16px;
	}
	.quantity-position-col{
	    width:10.58%;
        float: none;
   		margin-top: 0;
	}
	.sum-position-col{
	    width:19.85%;
        padding-right: 74px;
        font-size: 16px;
	    font-weight: normal;
	}
	.delete-position-col {
	    position: static;
	    width:9.87%;
	}
	.basket-table-body .image-position-col{
		width: 16.62%;
	    height: 72px;
	    line-height: 72px;
	    float: none;
	    padding-right: 30px;
	}
	.image-position-col .col-value {
	    height: 72px;
	    background-color: #fff;
	}
	.image-position-col .col-value img {
	    max-height: 62px;
	}
	.quantity-position-col .item-spinner input{
		height:30px;
	    padding: 8px 28px 7px 30px;
	}
	.quantity-position-col .item-spinner a {
	    width: 31px;
	    height: 30px;
	    line-height: 28px;
	}
	.quantity-position-col .item-spinner .btn-right {
	    width: 31px;
	}
	.basket-table-footer {
	    padding: 40px 0 20px;
	}
	.basket-sum {
	    padding-right: 18px;
	}
	.basket-delivery-row{
		margin-right:18px;
	}
	.basket-delivery {
	    padding-bottom: 52px;
	}
	.basket-amount-block {
	    margin: 0;
	    padding: 27px 20px 24px;
	}
	.basket-promocode{
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-bottom: 2px;
	}
	.basket-promocode-col span {
	    text-align: right;
	}
	.basket-amount-last {
	    padding: 20px;
        -ms-flex-wrap: nowrap;
    	flex-wrap: nowrap;
    	-webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
	}
	.basket-amount-last>.basket-amount-col.min-sum{
		webkit-box-ordinal-group:3;
    	-ms-flex-order:2;
        order:2;
        border-bottom: 0;
    	width: 320px;
	    margin-bottom: 0;
	}
	.basket-amount-last>.basket-amount-col.total-sum{
		webkit-box-ordinal-group:2;
    	-ms-flex-order:1;
        order:1;
        width: calc(100% - 255px);
        margin-bottom: 0;
        border-bottom: 0;
   		padding-bottom: 0;
   		padding-top: 5px;
	}
	.basket-amount-last>.basket-amount-col.btn-sum{
		webkit-box-ordinal-group:4;
    	-ms-flex-order:3;
        order:3;
        width: 255px;
	}
	.to-order {
	    font-size: 18px;
	    padding: 11px 50px 12px;
	    letter-spacing: -0.4px;
	    float: right;
	}
	.basket-amount-last .basket-amount-row{
		background-image: -webkit-linear-gradient(left, #bec1cc 2px, transparent 2px);
	    background-image: linear-gradient(to right, #bec1cc 2px, transparent 2px);
	    background-size: 4px 1px;
	    background-repeat: repeat-x;
	    background-position: left bottom;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: box;
	    display: flex;
	    -webkit-box-pack: justify;
	    -o-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -o-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin-bottom: 9px;
	    line-height: 15px;
	    white-space: nowrap;
	}
	.basket-amount-last .basket-amount-row .basket-amount-col{
	    color: #000;
	    font-weight: 700;
	    font-size: 20px;
	    display: inline-block;
	    vertical-align: top;
	    background-color: #fff;
	    padding-right: 7px;
	    letter-spacing: 0.2px;
	    padding-top: 2px;
	}
	.basket-amount-last .basket-amount-row>div:first-of-type{
		color: #000;
		font-size: 20px;
	}
	.basket-amount-last .basket-amount-row .basket-amount-col:last-of-type{
		padding-left:7px;
		padding-right:0;
	    letter-spacing: -0.4px;
	}
	.basket-amount-last>.basket-amount-col>span {
	    white-space: nowrap;
        padding: 0 22px;
	}
}
@media screen and (min-width:1280px){
	.btn.btn-reset {
	    margin-right: 3px;
	}
	.basket-table-body .image-position-col,
	.image-position-col {
	    width: 15.12%;
	}
	.title-position-col {
	    width: 23.57%;
	}
	.price-position-col {
       width: 16.98%;
    	padding-right: 103px;
	}
	.quantity-position-col {
	    width: 12.75%;
	}
	.sum-position-col {
	    padding-right: 86px;
    	width: 19.85%;
	}
	.to-order {
	    margin-right: 19px;
	}
	.basket-amount-last>.basket-amount-col.total-sum{
		padding-left: 39px;
	}
}
/*
@media screen and (min-width:1000px){
	.basket-table-head {
	    font-size: 16px;
	}
	.basket-table-body .title-position-col {
	    font-size: 14px;
	}
	.title-position-col,
	.basket-table-body .title-position-col{
	    width: calc(100% - 67.85% - 100px);
	}
	.code-position-col {
	    width: 10.42%;
	}
	.price-position-col {
	    width: 15.10%;
	}
	.discount-position-col{
		width:11.7%;
	}
	.quantity-position-col{
		width:17.23%;
	}
	.sum-position-col{
		width:13.4%;
	}
	.code-position-col .col-value {
	    font-size: 16px;
	}
	.col-value {
	    font-size: 18px;
	}
	.col-value span {
	    font-size: 24px;
	    font-family: 'RobotoBold';
	}
	.delete-basket-row {
	    right: 14px;
	}
	.basket-amount-col:first-of-type {
	    font-size: 16px;
	}
	.basket-amount-col:last-of-type {
	    font-size: 20px;
	}
	.basket-amount-col:last-of-type span span {
	    font-size: 24px;
	    padding-right:0;
	}
	.basket-amount-row + .basket-amount-row .basket-amount-col:last-of-type{
		padding-right:6px;
	}
	.basket-amount-row.last-row .basket-amount-col:first-of-type {
	    font-size: 18px;
	}
	.basket-amount-row.last-row .basket-amount-col:last-of-type {
	    font-size: 24px;
	    padding-right: 3px;
	}
	.basket-amount-row.last-row .basket-amount-col:last-of-type span span {
	    font-size: 30px;
	    padding-right: 3px;
	}
	.basket-amount-block {
	    margin-top: 4px;
	}
} */