@font-face
	font-family 'BloggerSans-Light'
	src url('../fonts/BloggerSans-Light.eot')
	src url('../fonts/BloggerSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BloggerSans-Light.woff') format('woff'),
         url('../fonts/BloggerSans-Light.ttf') format('truetype'),
         url('../fonts/BloggerSans-Light.svg#BloggerSans-Light') format('svg')
	font-weight 300
	font-style normal
@font-face
	font-family 'BloggerSans-Bold'
	src url('../fonts/BloggerSans-Bold.eot')
	src url('../fonts/BloggerSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BloggerSans-Bold.woff') format('woff'),
         url('../fonts/BloggerSans-Bold.ttf') format('truetype'),
         url('../fonts/BloggerSans-Bold.svg#BloggerSans-Light') format('svg')
	font-weight 300
	font-style normal
fontHeadLight = 'BloggerSans-Light'
fontHeadBold = 'BloggerSans-Bold'