// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';

@import 'easy-autocomplete.themes.min.css';
@import 'jquery.mCustomScrollbar.css';
@import '../../node_modules/nib';
@import 'jeet';
@import 'axis/index';
@import 'vars.styl';
@import 'fonts.styl';
@import 'mixins.styl';
@import 'typo.styl';
@import 'ui.styl';
@import 'cart.css';
@import 'add-main.css';
@import 'item-card.css';
@import 'breadcrumbs.css';
@import 'fitgrid.css';
// Import Modules
@import '../_modules/**/*';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

// grid
.wrapper
	@media screen and (min-width $lg)
		background-color $main-bg url
		background-image url('../images/main-bg-lg.jpg')
		background-position 50% 0%
		background-repeat no-repeat
		background-size 100% auto
		background-attachment fixed
		position relative
		@media screen and (min-width $xl)
			&:before
				content ""
				display block
				background url('../images/snow-1.png') 0 0 no-repeat
				width 198px
				height 425px
				background-size contain
				fixed(left 0 top 0)
			&:after
				content ""
				display block
				background url('../images/snow-2.png') 0 0 no-repeat
				width 198px
				height 360px
				background-size contain
				fixed(right 0 top 0)
.page
	margin auto
	max-width 1280px
	background-color #FFF
	box-shadow 0px 40px 150px 0px rgba(4, 37, 57, 0.65)
.container
	width auto
	padding-left 20px
	padding-right 20px
	margin-left auto
	margin-right auto
	@media screen and (min-width $md)
		width 1024px
		padding-left 15px
		padding-right 15px
	@media screen and (min-width $lg)
		width 1280px
		padding-left 40px
		padding-right 40px
.grid
	display grid
	grid-template-columns repeat(6, 1fr)
	@media screen and (min-width $md)
		grid-template-columns repeat(12, 1fr)
		grid-gap 20px
.grid .grid
	display grid
	grid-template-columns repeat(6, 1fr)
	@media screen and (min-width $md)
		grid-template-columns repeat(6, 1fr)
		grid-gap 20px
.col-2
	grid-column auto/span 2
.col-3
	grid-column auto/span 3
.col-4
	grid-column auto/span 4
.col-5
	grid-column auto/span 5
.col-6
	grid-column auto/span 6
.col-7
	grid-column auto/span 7
.col-8
	grid-column auto/span 8
.col-9
	grid-column auto/span 9
.col-10
	grid-column auto/span 10
.col-11
	grid-column auto/span 11

@media screen and (min-width $xs) and (max-width $xs-top)
	.col-xs-6
		grid-column auto/span 6
	.col-xs-5
		grid-column auto/span 5
	.col-xs-4
		grid-column auto/span 4
	.col-xs-3
		grid-column auto/span 3
	.col-xs-2
		grid-column auto/span 2
	.col-xs-1
		grid-column auto/span 1
@media screen and (min-width $md) and (max-width $md-top)
	.col-md-6
		grid-column auto/span 6
	.col-md-5
		grid-column auto/span 5
	.col-md-4
		grid-column auto/span 4
	.col-md-3
		grid-column auto/span 3
	.col-md-2
		grid-column auto/span 2
	.col-md-1
		grid-column auto/span 1
@media screen and (min-width $lg)
	.col-lg-6
		grid-column auto/span 6
	.col-lg-5
		grid-column auto/span 5
	.col-lg-4
		grid-column auto/span 4
	.col-lg-3
		grid-column auto/span 3
	.col-lg-2
		grid-column auto/span 2
	.col-lg-1
		grid-column auto/span 1
//modal
.modal
	background-color #FFF
	border-radius 10px
	box-shadow 0px 50px 100px 0px rgba(26, 0, 0, 0.8)
	padding 30px 18px
	fixed(top 50% left 50%)
	transform translate(-50%, -50%)
	display none
	z-index 100
.overlay
	fixed(left 0 top 0)
	width 100%
	height 100%
	background-color #1a0000
	opacity .7
	z-index 90
// .section
.dropMenu
	fixed(top 40px left 0)
	width 100%
	z-index 100
	background-color: #FFF
	padding 30px 15px 60px
	overflow-y scroll
	height 100vh

	.container
		padding 0
	.toTabs__tab
		ul
			li
				margin-bottom 0
				padding 15px 0
				border-bottom 1px solid rgba($primary-color, 0.3)
				a
					font-weight $bold
					fz(18)
					color $primary-color
	.toTabs__nav
		border-bottom 1px solid rgba(#945653, 0.3)
		div
			color: #808080
			fz(16)
			lh(24)
			&.active
				color: #000
				border-bottom 1px solid black
	.toTabs__tab + .btn
		width 100%
		max-width 340px
		margin 30px auto
	.footer__cat
		ul
			li
				a
					color: #000
					fz(18)
					lh(40)
	.footer__services
		border-top 0
		margin-top 0
	.footer-menu
		padding 25px 0
		border-top 1px solid #f6bcbc
		border-bottom 1px solid #f6bcbc

		ul
			padding-left 0
			li
				margin-bottom 0
				a
					color: #000
					fz(18)
					lh(40)
					text-decoration none
					font-weight $normal
	.fixbot__callback
		padding 30px 0
		display flex
		align-items center
		justify-content space-between
		&>div
			display flex
			align-items center
			img
				margin-right 5px
			span
				margin-right 5px
				fz(16)
				font-weight: $bold
				color $primary-color
			.callback__counts
				border-radius 100%
				width 19px
				height 19px
				border 1px solid #bfbfbf
				color: #000
				text-align center
				fz(11)
				lh(18)
	.dropMenu__footer
		width 100%
		display flex
		justify-content space-between
		align-items center
		margin-top 35px
		max-width 480px
		span
			flex 0 0 95px
			color: $primary-color
		a
			flex 0 0 auto
		.btn
			border-width 2px
			padding .572em 1.5em
.header-top.opened
	z-index 110
	fixed(left 0 top 0)
	width 100%
	box-shadow 0px 6px 10px 0px rgba(171, 0, 0, 0.32)
.visible-md
	display none
@media screen and (min-width $md)
	.dropMenu
		background-color: $primary-color
		.container
			padding-left 15px
			padding-right 15px
	.hidden-md
		display none
	.visible-md
		display block
@media screen and (min-width $lg)
	.dropMenu
		.container
			padding-left 40px
			padding-right 40px
	.hidden-lg
		display none

.fabric-slider--about
	padding-bottom 40px
.item-composition-block
	overflow hidden
@media screen and (max-width 1023px) and (min-width 768px)
	.gift-5
		    grid-column: auto/span 12 !important;