st-Font-Size = 16
fz($fontValue = st-Font-Size, $baseFontValue = st-Font-Size)
	font-size $fontValue px
	font-size ($fontValue / st-Font-Size) rem
lh($fontValue = st-Font-Size, $baseFontValue = st-Font-Size)
	line-height $fontValue px
	line-height ($fontValue / st-Font-Size) rem
flex-sb-c()
	display flex
	justify-content space-between
	align-items center
flex-sb-s()
	display flex
	justify-content space-between
	align-items flex-start
flex-s-c()
	display flex
	justify-content flex-start
	align-items center
flex-sa-c()
	display flex
	justify-content space-around
	align-items center