mixin about_history(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.history-box
				h2 История компании
				.history-nav
					.prev
					.next

				.history-line__outer.mCustomScrollbar
					.history-metr
						.item
						.item
						.item
						.item
						.item
						.item
						.item
						.item
					.history-line
						.history__item
							.year 2010
							.descr.
								Основание компании и начало работы в Московской области
						.history__item
							.year 2011
							.descr.
								Запуск интерент магазина: москондитер.рф
						.history__item
							.year 2012
							.descr.
								300 детских садов в Московской области сделали у нас заказ
						.history__item
							.year 2013
							.descr.
								Старт продаж в страны Таможенного Союза
						.history__item
							.year 2014
							.descr.
								Осуществлена доставка собственным транспортом в 10 регионов России
						.history__item
							.year 2015
							.descr.
								Осуществлена доставка собственным транспортом в 10 регионов России
						.history__item
							.year 2016
							.descr.
								Осуществлена доставка собственным транспортом в 10 регионов России
						.history__item
							.year 2017
							.descr.
								Осуществлена доставка собственным транспортом в 10 регионов России

