// about_history styles
.about-history
	padding 80px 0
	color white
	text-align center
	background-color #fff
	.history-box
		border-radius 10px
		background-color  $primary-color
		padding 55px 20px
		position relative
		h2
			fz(40)
			font-family fontHeadBold
		.history-line__outer
			position relative
			overflow-x auto
		.history-line
			display flex
			height 220px
			width 20000px
			transition ease 0.3s all
			.history__item
				text-align left
				max-width 250px
				margin-left 10px
				transition ease 0.3s all
				.year
					color #990000
					fz(20)
					lh(21)
					font-weight 700
				.descr
					fz(16)
					lh(19)
					color #ffa4a4
				&:nth-child(even)
					align-self flex-end
		.history-nav
			absolute(top 65px left 0px)
			padding 0px 20px
			width 100%
			display flex
			justify-content space-between
			.prev
			.next
				cursor pointer
			.prev
				icon-arrow(left, 30px, white, 2px)
			.next
				icon-arrow(right, 30px, white, 2px)
	.history-metr
		absolute(left 0 top 55%)
		width 100%
		height 4px
		background-color #ff8484
		display flex
		justify-content space-between
		align-items center
		.item
			width 12px
			height 12px
			border-radius 100%
			background-color #fff
			border 5px solid rgb(225,33,33)
			box-shadow 0px 10px 16px 0px rgba(215, 0, 0, 0.004)
			position relative
			box-sizing content-box
			margin-right auto

			&:before
				content: ''
				height 13px
				width 2px
				background-color #ff8484
				absolute(left 5px top 15px)
			&:nth-child(odd)
				&:before
					top -15px
	.jspHorizontalBar
		bottom -40px

