mixin header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		+top()
						
		.header-middle
			.container
				.grid
					.col-4.col-xs-4.col-md-5.col-lg-5
						+header_logo()

					.col-5.col-xs-2.col-md-4.col-lg-4.text-right
						a(href="#modal_contact").header__btnContacts.js-modal
						.header__contacts
							+header_phone(site.data.global.callFree, site.data.global.phone, site.data.global.phoneLink, site.data.global.btnCallText, true )
							+header_phone(site.data.global.phone2text, site.data.global.phone2, site.data.global.phoneLink2, site.data.global.contactsText, true )
					.col-3
						+header_cart()
		+main_menu(class="header-nav")
			
								