// header styles
.header
	background-color white
	padding 0
	padding-top 40px
	@media screen and (min-width $md)
		padding-top 0
.header__logo
	a
		text-decoration none
	span
		display block
		color $headerLabelColor
		fz(13)

.header-middle
	padding 19px 0 20px
@media screen and (min-width $md)
	.header-middle
		padding 12px 0 18px
