mixin about_reasons(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.reasons-box
				h2 8 причин работать с нами:
				ol.reasons__list
					li Высокий уровень сервиса
					li Развитая сеть логистики
					li Более 5 разновидностей упаковки подарков
					li Гарантия свежести подарков (фасовка начинается в октябре)
					li Каждый год - новый ассортимент
					li Новогднее вложение в каждом подарке
					li Собственные склад и производство
					li Жесткий контроль качества (Сертификаты Таможенного союза на всю продукцию)

