// about_reasons styles
.about-reasons
	padding-bottom 60px
	.reasons-box
		padding 20px 25px 30px
		background-color #f0f1f5
		border-radius 30px
		text-align center
		@media screen and (min-width $md)
			padding 60px 65px 30px
		h2
			font-family fontHeadBold
			color $primary-color
		ol
			text-align left
			padding-left 0
			counter-reset list1
			height auto
			@media screen and (min-width $md)
				height 340px
				columns 2 85px
				li
					display inline-block
					display inline-flex
					margin-bottom 40px
			li
				fz(16)
				lh(29)
				display block
				color #8f7b71
				margin-bottom 20px
				flex 0 0 50%
				list-style-type none
				word-break break-word
				padding-right 100px


				&:before
					counter-increment list1
					content counter(list1)
					color $primary-color
					font-weight $bold
					fz(30)
					margin-right 15px

