// modal_contact styles
#modal_contact
	fixed(top 30px left 50%)
	transform translate(-50%, 0%)
	min-width 300px
	max-width 340px
	.btn--default
		fz(18)
		text-align left
		padding-left 1em
		width 100%
		height 40px
	.modal__title
		color $black50
		fz(18)
		lh(24)
		margin-bottom 10px
		&+.btn
			margin-bottom 20px
	.btn
		width 100%
.modal__header
	text-align right
	padding-bottom 25px
	.modal__close
		display inline-block
		&.modal__close--contact
			width 60px
			height 40px
			border-radius 30px
			border 1px solid #b6b6b6
			relative()
			&:before
				content ""
				absolute(left 14px top 14px)
				background url('../images/modal-phone-arrow.png')
				width 11px
				height 5px
			&:after
				content ""
				absolute(right 12px top 12px)
				background url('../images/phone-red.png')
				width 16px
				height 16px


		
		
	