mixin modal_contact(spec)
	.modal#modal_contact
		.modal__header
			.modal__close.modal__close--contact
		.modal__body
			.modal__title= site.data.global.callFree
			a.btn.btn--default(href= site.data.global.phoneLink)
				.icon.icon--phone.icon--phone--red
				span= site.data.global.phone
			.modal__title= site.data.global.phone2text
			a.btn.btn--default(href= site.data.global.phoneLink2)
				.icon.icon--phone.icon--phone--red
				span= site.data.global.phone2
			a.btn.btn--primary(href="")= site.data.global.btnCallText