mixin list(head, data, islink)
	if head
		.list-head= head
	ul
		each val in data
			if islink === true
				li
					a(href= val.link)= val.name
			else if count
				li
					a(href= val.link)= val.name
					span= val.count
			else
				li= val.name
