extends ../_layouts/base

include ../_modules/link/link
include ../_modules/about_banner/about_banner
include ../_modules/about_history/about_history
include ../_modules/about_mission/about_mission
include ../_modules/about_stat/about_stat
include ../_modules/about_reasons/about_reasons
include ../_modules/fabric_slider/fabric_slider
include ../_modules/fabric_item/fabric_item
include ../_modules/gifts/gifts

block config
	//- Correct base url pathing for this page
	- var baseUrl = '../'

block content
	+about_banner(class="main-banner main-banner--about")
	+about_history(class="about-history")
	+about_mission(class="about-mission")
	+about_stat(class="about-stat")
	+about_reasons(class="about-reasons")
	+fabric_slider(class="fabric-slider fabric-slider--about")
	+gifts(class="leading")
