mixin detsad-news(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h2.
				3 совета, которые помогут вам выбрать новогодние подарки
			.grid
				.col-4.col-xs-6
					.news-item
						.img
							img(src="../images/landing/news-1.jpg")
						.body
							h3.
								Секреты проведения утренника в детском саду
							p.
								Мы уже второй месяц принимаем заказы и можно сказать,
								что подарки продаются хорошо.
								Более того, несколько позиций уже закончились, например подарок
								"Новогодний  шар" раскупили очень быстро.
				.col-4.col-xs-6
					.news-item
						.img
							img(src="../images/landing/news-2.jpg")
						.body
							h3.
								Секреты проведения утренника в детском саду
							p.
								Мы уже второй месяц принимаем заказы и можно сказать,
								что подарки продаются хорошо.
								Более того, несколько позиций уже закончились, например подарок
								"Новогодний  шар" раскупили очень быстро.
				.col-4.col-xs-6
					.news-item
						.img
							img(src="../images/landing/news-3.jpg")
						.body
							h3.
								Секреты проведения утренника в детском саду
							p.
								Мы уже второй месяц принимаем заказы и можно сказать,
								что подарки продаются хорошо.
								Более того, несколько позиций уже закончились, например подарок
								"Новогодний  шар" раскупили очень быстро.
