// detsad-news styles
.d-news
	padding 40px 0
	h2
		fz(25)
		lh(33)
		color #590202
		margin-bottom 25px
		text-align center
		@media screen and (min-width $md)
			fz(35)
			lh(51)
	.news-item
		box-shadow 0px 1px 6px 0px rgba(8, 23, 89, 0.12)
		border-radius 10px
		margin-bottom 25px
		max-width 340px
		margin-left auto
		margin-right auto
		.img
			border-top-left-radius 10px
			border-top-right-radius 10px
			overflow hidden
		img
			max-width 100%
			height auto
		h3
			color $primary-color
			margin-top 0
			fz(22)
			lh(24)
			font-weight $bold
			margin-bottom 15px
		p
			margin-top 0
			color #8f7b71
			fz(16)
			lh(21)
		.body
			padding 15px 40px
