// gifts styles
.leading
	position relative
	padding-top 60px
	padding-bottom 85px
	&:before
		content ''
		absolute(left 0 top 0)
		width 100%
		height 660px
		background-color $primary-color
		z-index 1
		background url(../images/lead-bg.jpg) 0 0 no-repeat
		background-size cover
	.row
		position relative
		z-index 2
		margin-top 39px
	.leading-card
		background white
		box-shadow 0px 21px 40px 0px rgba(8, 23, 89, 0.24)
		border-radius 8px
		padding 20px 20px 30px 20px
		box-sizing border-box
		text-align center
		position relative
		height 310px
		display flex
		flex-flow column nowrap
		justify-content space-between
		& > a
			display block
			width 100%
			z-index 5
			text-align center
		img
			margin auto
		h4, .leading-card__meta
			text-align left
		h4
			margin-bottom 0
			line-height 1
			margin-top 0
			font-weight: $bold

		a
			text-decoration none
			color black
			font-weight $bold
			fz(18)
		.leading-card__meta
			margin-top 3px
			span
				display inline-block
				fs(16)
				&:first-child
					color $primary-color
					font-weight $bold
				&:last-child
					color text
					margin-left 15px
	.leading__head
		position relative
		z-index 2
		text-align center
		padding-top 0px
		height 45px
		margin-bottom 20px
		&:before
			content ''
			absolute(left 0 top 20px)
			height 5px
			width 0
			background white
			border-radius 20px
		&:after
			content ''
			absolute(right 0 top 20px)
			height 5px
			width 0
			background white
			border-radius 20px
		h2
			color white
			font-family fontHeadBold
			fz(40)
			lh(45)
			margin-top 0
			margin-bottom 0
	.container
		position relative
		z-index 2
		.grid
			grid-template-rows repeat(2, 1fr)
	.btn
		border-radius 5px
		padding 1.13em 2em
		margin 40px auto 0
		display block
		max-width 247px
.leading-slick
	.slick-arrow
		background none
		filter brightness(10)
	@media screen and (max-width $lg )
		.leading__head
			&:after
			&:before
				width 265px
	@media screen and (max-width $md )
		padding-top 50px
		.leading__head
			&:after
			&:before
				content none

			h2
				fz(25)
				lh(28)
		.leading-card
			width 280px
			visibility hidden
		.slick-current
			visibility visible
			.leading-card
				visibility visible
		&:before
			height 345px
		.btn
			max-width 280px
		.slick-track
			padding-bottom 50px
		.slick-prev
			left 10px
			background url('../images/arrow-left-active.png') 0 0 no-repeat
			&.slick-disabled
				background url('../images/arrow-left.png') 0 0 no-repeat

		.slick-next
			right 10px
			background url('../images/arrow-right-active.png') 0 0 no-repeat
			&.slick-disabled
				background url('../images/arrow-right.png') 0 0 no-repeat

		.slick-arrow
			width 15px
			height 25px
			background-color transparent
			&:before
				content none


@media screen and (min-width $md)
	.leading__head
		&:before
		&:after
			width 300px !important
@media screen and (max-width 1024px)
	.gift-list
		padding 25px 0
@media screen and (max-width 1023px)
	.leading:before
		height 540px