mixin reviews_item(cl)
	div(class= cl)
		.reply-item__top
			if cl === "reply-item vk"
				img(src="../images/vk.png", alt="")
				a(href="/") Читать отзывы в ВКонтакте
			else if cl === "reply-item ya"
				img(src="../images/yam.png", alt="")
				a(href="/") Читать отзывы на Яндекс Маркете
			else if cl === "reply-item mail"
				img(src="../images/mail.png", alt="")
				a(href="/") Читать отзывы  на Майл.ру
			else if cl === "reply-item site"
				img(src="../images/yam.png", alt="")
				a(href="/") Читать отзывы  на сайте
		.reply-item__body
			h4 Москва
			p.
				Четко налаженная работа в компании. Проконсультировали по ассортименту, предоставили скидку за счет большого объема, доставили вовремя. Буду заказывать еще!
			.reply-item__user
				span
					img(src= "../images/girl-icon.png", alt="")
				span Дилара
				span 15 сентября 2017
