// reviews_item styles
.reviews
	height auto
	padding 45px 0
	box-sizing border-box
	h2
		color $primary-color
		fs: 20px
		lh(25)
		font-weight $bold
		margin 0
		display block
		text-align center
		text-transform uppercase
		font-family: fontHeadBold
.reply-item
	width 280px
	height 349px
	background-color white
	margin 0 10px
	border-radius 10px
	position relative
	margin-bottom 35px
	cursor pointer
	box-shadow 0 20px 60px -10px rgba(128,0,0,0.4)
	&:after
		content ''
		background url(../images/triangle.png) 0 0 no-repeat
		absolute(bottom -35px right 20px)
		width 48px
		height 35px
		display block

	&:focus
		outline none
// .reply-item.slick-active
// 	margin-right 0
// 	margin-left 20px
// .slick-current.reply-item.slick-active
// 	margin-left 0
// 	margin-right 0
.reply-slider
	margin-left -10px
	margin-right -10px
	clearfix()
	top -155px
	.slick-list
		overflow auto
.reply-item__top
	border-top-left-radius 10px
	border-top-right-radius 10px
	padding 12px 10px 15px
	height 82px
	box-sizing border-box
	a
		fz(16)
		text-decoration none
		font-weight $regular
		display block
		margin-top 12px
.reply-item__body
	h4
		fz(20)
		lh(19)
		color: #8f7b71
		text-align center
		margin-bottom 20px
	padding 15px
	p
		fz(16)
		lh(19)
.reply-item
	filter blur(4px)
	transform scale(0.8)
	transition all 0.3s ease-in
	position relative
	z-index 1
	margin 0 -20px
	&.slick-current
		filter blur(0px)
		transform scale(1)
		// margin 0 -20px 0 -20px
		z-index 2
.reply-item.vk
	.reply-item__top
		background #507299
		a
			color white
.reply-item.ya
	.reply-item__top
		background #ffc706
		a
			color black
.reply-item.mail
	.reply-item__top
		background #168de2
		a
			color white
.reply-item.site
	.reply-item__top
		background-color $primary-color
		a
			color #fff
		img
			overlay-bland-mode multiple
.reply-item__user
	absolute(bottom 20px right 0 left 0)
	width 90%
	padding 15px
	flex-sb-c()
	min-width 50px
	span
		&:nth-child(2)
			fz(15)
			font-weight $bold
			color $primary-color
			display block
			text-align left
			flex-grow 2
			margin-left 10px
		&:nth-child(3)
			color #afa29c
			font-weight $regular
			fz(16)
			lh(19)
			margin-left 10px

.reply-head
	clearfix()
	relative(top -135px)
	text-align center
	margin-bottom 40px
	a
		float right
		border solid 1px rgba(254, 0, 0, 0.32)
		border-radius 3px
		background-color rgba(255, 255, 255, 0.32)
		width 121px
		height 43px
		line-height 40px
		display inline-block
		color $primary-color
		fz(16)
		text-decoration none
		box-sizing border-box
		margin-top -10px

.reviews
	.slick-next
		icon-arrow: right 40px $primary-color 3px
		right 0px
		z-index 20
		background-color transparent
		&:before
			content ''
		&:after
			content ''
			absolute(top 0)
	.slick-prev
		icon-arrow: left 40px $primary-color 3px
		left 0px
		z-index 20
		background-color transparent
		&:before
			content ''
		&:after
			content ''
			absolute(top 0)
@media screen and (min-width $md)
	.reviews__head
		h2
			fz(40)
			lh(44)



