// footer_menu styles
.footer-menu
	ul
		display flex
		flex-flow column wrap
		margin 0
		li
			margin-bottom 15px
			a
				font-weight $bold
				color #fff
				fz(18)
				lh(24)
				position relative
				&:before
					content ""
					width 100%
					height 1px
					background $white30
					absolute(left 0 bottom -2px)
@media screen and (min-width $md)
	.footer-menu
		margin-bottom 40px
		ul
			flex-flow row no-wrap
			li
				margin-right 35px
				margin-bottom 0
				a
					font-weight $normal
		&+.grid
			&>.col-6
				&:first-child
					order 1
				&:last-child
					order 2