// main_menu_search styles
.header-search
	overflow hidden
	input[type="text"].form-inp
		border none
		placeholder(color $white30,)
		height 100%
	.form-control
		flex 0 0 0%
		&:last-child
			flex 0 0 20%
			position relative
			z-index 2
			input[type="submit"]
				background url('../images/search.png') 50% 50% no-repeat
				padding 1.21em
				width 40px
				height 50px
		&:first-child
			transition 0.2s all ease-in-out
			opacity 0
			transform translateX(100%)
			position relative
			z-index 1
			
			.form-inp
				padding  1.21em 1em
				max-width 150px
			&.show
				flex 0 0 80%
				opacity 1
				transform translateX(0%)
	.form-group
		flex-flow row nowrap
		justify-content flex-end