mixin main_menu_search(spec)
	.header-search
		form(action="")
			.form-group
				.form-control
					input(type="text", class="form-inp",placeholder="Что ищем..")
				.form-control
					input(type="submit", value="", class="js-openSearch")