mixin detsad-cert(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.detsad-cert__content
				.icon
					img(src="../images/landing/eac-icon.png")
				.text Все подарки сертифицированы
