// detsad-cert styles
.detsad-cert
	padding 25px 0
	text-align center
	background #d9ebec
	.detsad-cert__content
		display flex
		justify-content center
		align-items center
		max-width 245px
		margin-left auto
		margin-right auto
		.icon
			margin-right 18px
		.text
			text-align left
			font-weight $bold
			color $primary-color
			fz(20)
			lh(18)
	@media screen and (min-width $md)
		background #d9ebec url('../images/landing/eac-bg.jpg') center no-repeat
		background-size cover
