// header_phone styles
.contacts__item
	display none
a.header__btnContacts
	width 60px
	height 40px
	border-radius 30px
	background url('../images/btn-contacts.png') 0 0 no-repeat
	background-size contain
	display inline-block
	margin-right 20px
@media screen and (min-width $md)
	a.header__btnContacts
		display none
	.contacts__item
		display block
		&:first-child
			padding-right 35px
			.contacts__btn
				color: #fff
				background-color: $primary-color
				text-align center
				lh(18)
	.header__contacts
		display flex
		justify-content flex-start
		text-align left
		margin-top 15px
	.contacts__title
		color $black50
		margin-bottom 10px
		fz(12)
	.contacts__phone
		font-weight $bold
		fz(18)
		color #000
		text-decoration none
		lh(24)
		white-space nowrap
		margin-bottom 5px
		display block
	.contacts__btn
		font-style italic
		color $primary-color
		display block
		padding 0.1em
		text-align left
		display block
		lh(18)