mixin fast_search(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	div(class=spec.__class)&attributes(attributes)
		.links-head
			h2 Часто ищут
		.grid
			.col-4.col-xs-6
				ul
					li
						a(href="") Новогодние конфеты
					li
						a(href="") Новогодние подарки из конфет
					li
						a(href="") Новогодние наборы конфет
					li
						a(href="") Новогодние конфеты детям
			.col-4.col-xs-6
				ul
					li
						a(href="") Шоколадная новогодняя конфета
					li
						a(href="") Купить новогодние подарки конфеты
					li
						a(href="") Новогодняя упаковка для конфет
					li
						a(href="") Детские новогодние конфеты
			.col-4.col-xs-6
				ul
					li
						a(href="") Новогодние подарки шоколадные конфеты
					li
						a(href="") Детские новогодние подарки конфеты
					li
						a(href="") Новогодние игрушки конфеты
	

