// fast_search styles
.links-head
	text-align center
	position relative
	box-sizing border-box
	height 35px
	margin-bottom 30px
	&:after
		content ''
		absolute(right 0 top 15px)
		width 55px
		height 3px
		background $primary-color
	&:before
		content ''
		absolute(left 0 top 15px)
		width 55px
		height 3px
		background $primary-color
	h2	
		color $primary-color
		fz(30)
		lh(35)
		font-family fontHeadBold
		margin 0
		margin-bottom 0px
	@media screen and (min-width $md)
		&:after
		&:before
			width 385px
	@media screen and (min-width $lg)
		&:after
		&:before
			width 490px
.links
	clear both
	padding 40px 0 80px
	ul
		reset-list()
		li
			display block
			margin-bottom 3px
			a
				color black
				fz(16)
				lh(29)
				text-decoration none
				position relative
				&:before
					content ""
					absolute(left 0 bottom -2px)
					width 100%
					height 1px
					background rgba($primary-color, 0.3)
				&:hover
					text-decoration none
					color $primary-color
					&:before
						background rgba($primary-color, 1)
	.bot-menu
		margin-top 70px
		display block
		clear both
		margin-bottom 20px
		li
			display inline-block
			vertical-align middle
			margin-right 45px
			position relative
			
			&:before
				content ''
				absolute(left 0 bottom -2px)
				height 1px
				width 100%
				background rose
		li	
			a
				fz(14)
				color black
				&:hover
					text-decoration none
	.row
		clearfix()