// main_menu styles
.header__nav
	display none
	@media screen and (min-width $md)
		display block
		background-color $primary-color
		ul
			display flex
			margin 0
			padding 0
			li
				margin-bottom 0
				lh(10)
				margin-right 28px
				display flex
				align-items center
				a
					color white
					text-decoration none
					padding 20px 0
					display block
				span
					margin-left 5px
					display inline-block
					color: #871719
					lh(20)
					padding-top 0px