mixin main_menu(spec)
	nav.header__nav
		.container
			.grid
				.col-10
					ul.list-unstyled
						each val in site.data.menu
							-var parent = false;
							if val.parent === 'true'
								li.parent
									a(href= val.link)= val.name
									span= val.count
							else
								li
									a(href= val.link)= val.name
									span= val.count
				.col-2
					+main_menu_search()