mixin main_page_banner(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	div(class=spec.__class)&attributes(attributes)
		.container
			h1= site.data.global.head1
			p= site.data.global.descr
			a.btn.btn--default(href="")= site.data.global.catBtn
			.banner__sub= site.data.global.catInfo

