// main_page_banner styles
.main-banner
	background url('../images/main_banner.jpg') 0 0 no-repeat
	background-size cover
	padding 65px 0 45px
	text-align center
	h1
		font-family fontHeadBold
		fz(30)
		lh(29)
		color: #fff
		margin-bottom 25px
	p
		color: #ffa4a4
		fz(16)
		lh(27)
		margin 25px 0
	.btn.btn--default
		text-align center
		color: #fff
		fz(22)
		lh(27)
		border 1px solid rgba(238,152,152, 0.52)
		border-radius 3px
		text-transform none
		font-weight $normal
		&:hover
			color $primary-color
		&:active
			background $primary-color
			color: #fff
	.banner__sub
		color: $white50
		fz(14)
		lh(27)
		margin-top 8px
		
@media screen and (min-width $md)
	.main-banner
		padding 90px 0px 20px
		h1
			fz(55)
			lh(51)
			max-width 65%
			margin-left auto
			margin-right auto
		p
			fz(22)
			lh(27)
			max-width 65%
			margin-left auto
			margin-right auto