mixin gift_select(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	div(class=spec.__class)&attributes(attributes)
		.container
			.choice-top.grid
				.col-6
					h2 Быстрый подбор подарка
				.col-6.text-right
					a(class="btn download", href="/", download) Скайчать прайс-лист
			.choice-filter
				form(action="")
					.grid
						.col-7.col-xs-6
							.form-group.form-group--inputs
								.label-block Цена
								.outer-input
									input(type="text", id="priceFrom", value="35", maxlenght="5")
									label(for="priceFrom")
								.outer-input
									input(type="text", id="priceTo", value="30000", maxlenght="5")
									label(for="priceTo") 
							.form-group.form-group--select
								label Упаковка
								input(type="text", value="не выбран")
								.select
									span.reset Очистить
									ul
										li
											input(type="checkbox", id="ch41", value="Текстить", disabled)
											span
											label(for="ch41") Текстить
										li
											input(type="checkbox", id="ch42", value="Металл", checked)
											span
											label(for="ch42") Металл
										li
											input(type="checkbox", id="ch43", value="Картон")
											span
											label(for="ch43") Картон
										li
											input(type="checkbox", id="ch44", value="Взрослым")
											span
											label(for="ch44") Взрослым
										li
											input(type="checkbox", id="ch45", value="Дерево")
											span
											label(for="ch45") Дерево
									button Готово
							.form-group.form-group--select
								label Вес конфет гр.
								input(type="text", value="не выбран")
								.select
									span.reset Очистить
									ul
										li
											input(type="checkbox", id="ch1", value="до 450", disabled)
											span
											label(for="ch1") до 450
										li
											input(type="checkbox", id="ch2", value="500-650", checked)
											span
											label(for="ch2") 500-650
										li
											input(type="checkbox", id="ch3", value="700-850")
											span
											label(for="ch3") 700-850
										li
											input(type="checkbox", id="ch4", value="900-1050")
											span
											label(for="ch4") 900-1050
										li
											input(type="checkbox", id="ch5", value=" 1300-1450")
											span
											label(for="ch5") 1300-1450
										li
											input(type="checkbox", id="ch6", value="1500")
											span
											label(for="ch6") 1500
									button Готово
								
						.col-2.col-xs-6
							.form-option
								input(type="checkbox", checked, id="dop")
								label(for="dop") Символ года

						.col-3.col-xs-6.text-right

							input(type="submit", value="Подобрать подарки")
			.choice__bottom
				.grid
					.col-6
						.choice-card.choice-card--delivery
							h3 Доставка
							p.
								 Бесплатная доставка заказов стоимостью более 20 000 рублей до адреса клиента в более чем 30 городов
							a(href="/") Условия доставки
					.col-6
						.choice-card.choice-card--garant
							h3 Гарантия и возврат
							p.
								 Конфеты должны соответствовать определенным стандартам качества. 
							a(href="/") Условтя гарантии