// gift_select styles
.choice
	background $primary-color
	position relative
	height 800px
	@media screen and (min-width $md)
		height 360px
		display block
		&:before
			content ""
			absolute(left 0 bottom -40px)
			height 41px
			width 100%
			background-image: url(../images/choice-bottom.png)
			background-repeat no-repeat
			background-position center
			background-size 100% 100%
.choice-top
	padding-top 28px
	padding-bottom 12px
	border-bottom 3px solid #ff8484
	flex-sb-c()
	.col-3
		text-align right


	h2
		font-family fontHeadBold
		fs: 30px
		color white
		margin 0
	span
		color #ffa1a1
		font-family fontHeadLight
		fs: 30px
	a.btn
		button: transparent 'large' white
		display none
		border 1px solid rgba(white 0.3)
		position relative
		padding 0.7em 1em 0.7em 1.6em
		fz(16)
		width 196px
		box-sizing border-box
		font-weight $normal
		&:before
			content ''
			background url(../images/blank.png) 0 0 no-repeat
			absolute(left 10px top 10px)
			width 16px
			height 20px
		&:hover
			border 1px solid rgba(white 0.3)
		@media screen and (min-width $md)
			display inline-block


.form-group
	input[type="text"], input[type="number"]
		display inline-block
		input()
		width 113px
		background rgba(white 0.4)
		height 31px
		box-sizing border-box
		border #ffd0d0 1px solid
		fs: 16px
	.label-block
		label: block
		fs: 18px
		font-weight $bold
		margin-bottom 15px
		color white
.form-group--inputs
	display inline-block
	input
		padding-left 30px !important
		color white
	input+label
		position absolute
		left 10px
		top 5px
		color white
		fs: 16px
	input:focus+label > span
		opacity 0
	input:focus
		padding-left 30px
	input:not(:empty) + label span
		opacity 0

.form-group--select + .form-group--select
	margin-right 0
.form-group--select
	display inline-block
	position relative
	margin-right 30px

	label
		label: block
		color #fff
		fs: 18px
		font-weight $bold
		margin-bottom 15px
	input[type="text"]
		color white
		fs: 16px
		background-image: url(../images/select-bg.png)
		background-repeat no-repeat
		background-position 93% 8px
		background-size 2px 10px
		cursor pointer
	.select
		display none
		position absolute
		background #fff
		padding 10px
		z-index 10
		box-shadow 0px 20px 30px 0px rgba(236, 40, 42, 0.4)
		width 135px
		color black
		border-radius 3px
		overflow hidden
		z-index 100
		ul
			reset-list()
			margin-bottom 50px
			padding-top 25px
			input[type='checkbox']
				opacity 0
			li
				flex-sb-c()
				position relative
				margin-left -10px
				margin-right -10px
				padding-left 10px
				padding-right 10px
				margin-bottom 10px
				cursor pointer
				&:hover
					background rgba($primary-color 0.1)
					input[type='checkbox']:checked~label
						color $primary-color
					input[type='checkbox']:not(:checked)~label
						color $primary-color

				input[type='checkbox']:not(:checked)+span
					width 21px
					height 21px
					display block
					border 1px solid #ffd0d0
					border-radius 3px
				input[type='checkbox']:not(:checked)~label
					color #909090
				input[type='checkbox']:disabled+span
					width 21px
					height 21px
					display block
					border 1px solid #dddddd
					border-radius 3px
				input[type='checkbox']:disabled ~label
					color #d0d0d0
				input[type='checkbox']:checked+span
					width 21px
					height 21px
					display block
					border 1px solid $primary-color
					border-radius 3px
					position relative
					&:after
						content ''
						align()
						background-image url(../images/checked.png)
						background-repeat no-repeat
						width 13px
						height 9px
				input[type='checkbox']:checked~label
					color black
				span
					order 2
				label
					order 1
					font-weight $normal
					margin-bottom 0
				input
					absolute(right 11px top 3px)
					width 21px
					height 21px
					z-index 10
					cursor pointer
		button
			width 100%
			absolute(bottom 0 left 0 right 0)
			background none
			border none
			box-shadow none
			border-top 1px solid #d0d0d0
			color black
			fs: 14px
			box-sizing border-box
			height 30px
			line-height 23px
			&:hover
				background $primary-color
				color white
		.reset
			width 100%
			text-align center
			border-bottom 1px solid #d0d0d0
			display block
			absolute(top 0 left 0)
			height 30px
			line-height 30px
			&:hover
				background $primary-color
				color white
.outer-input
	position relative
	margin-right 40px
.form-group--inputs
	.outer-input
		display inline-block
		vertical-align middle
		position relative
		margin-right 20px
		input
			color white
		label
			fs: 16px
	.label
		label: block
.select>span
	margin-bottom 10px
	fs: 14px
	display block
	cursor pointer
.choice-filter
	padding-top 23px

.form-option
	background-color rgba(169, 25, 28, 0.5)
	width 162px
	height 87px
	border-radius 43px
	position relative
	left -21px
	&:before
		content ''
		width 88px
		height 118px
		background url(../images/doggy-body.png) 0 0 no-repeat
		absolute(left -8px top -40px)
	&:after
		content ''
		width 71px
		height 62px
		background url(../images/doggy-head.png) 0 0 no-repeat
		absolute(left 8px top -40px)
		animation rotate infinite 3s, rotate2 infinite 8s
		animation-direction alternate
		animation-delay -1s

	input[type="checkbox"]
		opacity 0
		width 23px
		height 23px
	label
		position relative
		top 6px
		left 90px
		font-weight $bold
		fs: 18px
		color white
		width 70px
		line-height 18px
		display block

	input[type="checkbox"]
		position relative
		left 89px
		top 8px
		z-index 2
		cursor pointer
		&:not(:checked)+label
			position relative
			&:after
				content ''
				absolute(left -1px top -28px)
				width 23px
				height 23px
				border-radius 3px
				background-color rgba(254, 255, 255, 0.5)
				border 1px solid rgb(255, 208, 208)
				box-sizing border-box
		&:checked+label
			position relative
			&:after
				content ''
				absolute(left -1px top -28px)
				width 23px
				height 23px
				border-radius 3px
				background-color rgba(255, 255, 255, 0.5)
				border 1px solid rgb(255, 208, 208)
				box-sizing border-box
		&:checked+label
			position relative
			&:before
				content ''
				absolute(left 3px top -19px)
				width 13px
				height 8px
				background url(../images/checker.png) center no-repeat
		&:not(:checked)+label
			position relative
			&:before
				content ''
				background none
.choice-filter
	input[type="submit"]
		background #fff
		border 1px solid rgba($primary-color 0.3)
		box-shadow 0 0 0 5px white
		color $primary-color
		font-weight $bold
		fs: 16px
		text-transform uppercase
		width 220px
		height 53px
		box-sizing border-box
		line-height 50px
		border-radius 3px
		margin-top 15px
		margin-left 12px

.choice-card
	background-color #fff
	padding 20px
	border-radius 10px
	box-shadow 0px 10px 20px 0px rgba(8, 23, 89, 0.25)
	position relative
	z-index 10
	background-position 92% 92%
	background-repeat no-repeat
	height 240px
	cursor pointer
	margin-top 45px
	box-sizing border-box
	h3
		color $primary-color
		font-family fontHeadBold
		fs: 30px
		margin-bottom 20px
		margin-top 0
	p
		color text
		fs: 16px
		line-height 19px
	a
		display inline-block
		margin-top 55px
		position relative
		text-decoration none
		font-weight $bold
		fs: 16px
		color $primary-color
		&:after
			content ''
			absolute(right -23px top 5px)
			background url(../images/icon-arrow-right.png) 0 0 no-repeat
			width 17px
			height 16px

.choice-card--delivery
	background-image: url(../images/delivery.png)
	background-size 144px 121px

.choice-card--garant
	background-image: url(../images/shild.png)
	background-size 124px 115px

.choice-card
	transition cubic-bezier(0.23, 0.82, 0.38, 0.82) 2s all

	&:hover
		background-color: $primary-color
		color white
		p
			color #ffc0c0
		a
			color white
			&:after
				right -100px
				opacity 0
				transition cubic-bezier(0.23, 0.82, 0.38, 0.82) 2s all
		h3
			color white
.choice-card--garant
	&:hover
		background-size wh22
.choice-card--delivery
	&:hover
		background-size wh12
#priceFrom + label
	&:before
		content 'от'
		color #ffc0c0
		margin-right 5px
#priceTo + label
	&:before
		content 'до'
		color #ffc0c0
		margin-right 5px
.choice--cat
	background #f0f1f5
	height 93px
	padding-bottom 10px
	margin-top 0
	box-sizing border-box
	.form-option
		background #dcdde0
		top -7px
	&:before
		content none
	.choice-filter
		input
			border-color rgba(black 0.2)
			background-color: rgba(#FFF 0.2)
		input + label
			color black
			&:before
				color #999999 !important
		.form-group--select
			input
				color black
				background-image: url(../images/select-bg-cat.png)
		label, .label-block
			color black
		input[type="checkbox"]
			+label
				&:after
					border-color rgba(black 0.4)
					background rgba(#fff 0.2)
			&:checked +label
				&:before
					background-image: url(../images/checker-$primary-color.png)
	.choice-filter
		clearfix()
		padding-top 10px
	.cat-filter__result
		width 130px
		height 100%
		display inline-block
		vertical-align middle
		margin-top -20px
		span
			fs: 25px
			color #848586
			line-height 27px
			font-family fontHeadLight
	.cat-filter__clear
		cursor pointer
		display inline-block
		vertical-align middle
		height 105px
		box-sizing border-box
		width 90px
		text-align center
		border-left 2px solid white
		border-right 2px solid white
		padding-top 20px
		position relative
		top -10px
		opacity 0.2
		transition ease all 0.2s
		span
			color black
			fs: 12px
			text-transform uppercase
			font-weight $bold
			line-height 40px
		.close
			icon-x(27px, gray, 2px)
			margin-left auto
			margin-right auto
			left -14px
		&:hover
			opacity 0.75
	.cat-filter__clear.active
		opacity 1
		&:hover
			opacity 0.75
@media screen and (max-width $md)
	.choice
		margin-bottom 430px
		padding-top 45px
	.form-option
		width 100%
		max-width 335px
		transform translate(-50%, 0)
		left 50%
		top 50px
		&:after
			left 62px
		&:before
			left 42px
		label
			text-indent -10px
			top 6px
			left 180px
			width 90px
			&:before
				top 9px !important
				left -33px !important
			&:after
				left -40px !important
				top 2px !important
	.choice-card
		background-size 75px auto
		height 270px
		a
			margin-top 20px
	.choice__bottom
		margin-top 50px
	.choice-filter input[type="submit"]
		margin 120px auto 0
		display block
		height 60px
		width 100%
		max-width 340px
	.choice-top
		padding-top 0
	.form-group--inputs
		width 100%
		.outer-input, .form-group--select
			margin-right 10px
			width 45%
			input
				width 100%
	.form-group--select
		margin-right 10px
		margin-top 15px
		width 45%
		input
			width 100% !important
		label
			margin-bottom 0px
@keyframes rotate {
  from {
    transform rotate(0 deg)
  }
  to {
    transform rotate(20 deg)
  }

}
@keyframes rotate2 {
  0 {
    transform rotate(0 deg)
  }
  25% {
    transform rotate(-40 deg)
  }
  50% {
    transform rotate(-0 deg)
  }
  75% {
    transform rotate(-0 deg)
  }
  0% {
    transform rotate(-0 deg)
  }

}

@media screen and (max-width 1024px)
	.choice
		margin-bottom 250px
	.choice-card
		height 200px
	.choice-filter input[type="submit"]
		margin-top 60px
	.form-option input[type="checkbox"]:checked+label
		display none
@media screen and (max-width 1023px)
	.form-option input[type="checkbox"]:checked+label
		display block
@media screen and (min-width 647px) and (max-width 1023px)
	.form-group--inputs .outer-input, .form-group--select
		width 48%
