// fabric_slider styles
.fabric-slider
	padding 20px 0
	h3
		font-family fontHeadBold
		color: $primary-color
		text-align center
		fz(30)
		lh(33)
		margin-bottom 35px
	.slick-next, .slick-prev
		background-color transparent
		top 60px
	.slick-next
		icon-arrow: right 30px $primary-color 3px
		right 0px
		z-index 20
		background-color transparent
		&:before
			content ''
		&:after
			content ''
			absolute(top 0)
	.slick-prev
		icon-arrow: left 30px $primary-color 3px
		left 0px
		z-index 20
		background-color transparent
		&:before
			content ''
		&:after
			content ''
			absolute(top 0)
	.slick-disabled
		filter grayscale(10)
		opacity 0.5
	&.fabric-slider--land
		padding-top 180px