mixin fabric_slider(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h3 В наших подарках конфеты от фабрик
			.fabrics-carousel
				+fabric_item("fabrics-carousel__item", "../images/f-1.png", "«Красный Октябрь»", "23 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-2.png", "«Рот Фронт»", "14 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-3.png", "«Бабаевский»", "8 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-4.png", "«Славянка»", "15 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-5.png", "«Яшкино»", "17 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-6.png", "«Яшкино»", "3 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-1.png", "«Красный Октябрь»", "23 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-2.png", "«Рот Фронт»", "14 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-3.png", "«Бабаевский»", "8 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-4.png", "«Славянка»", "15 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-5.png", "«Яшкино»", "17 подарка")
				+fabric_item("fabrics-carousel__item", "../images/f-6.png", "«Яшкино»", "3 подарка")

