mixin header_cart(spec)
	.middle__cart
		.icon.icon--cart-lg
			.cart__counter= site.data.global.cartCount
		.cart__info
			.cart__state= site.data.global.cartEmpty
			.cart__title= site.data.global.cart
