// header_cart styles
.middle__cart
	display none
@media screen and (min-width $md)
	.middle__cart
		display block
		position relative
		display flex
		align-items center
		justify-content flex-end
		margin-top 15px
		.cart__counter
			absolute(left 15px top -4px)
			width 25px
			height 25px
			border 3px solid white
			background-color $primary-color
			color white
			font-weight $bold
			fz(14)
			text-align center
			border-radius 50%
			lh(18)
	.icon--cart-lg
		background url('../images/cart.png') 0 0 no-repeat
		background-size contain
		width 52px
		height 52px
		margin-right 16px
		position relative
	.cart__state
		color $primary-color
		fz(14)
		margin-bottom 3px
	.cart__title
		font-weight $bold
		fz(20)
		color #000
	