mixin about_banner(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		h2 О компании «Москондитер»
		p.
			Интернет-магазин компании «Москондитер» — это наилучшее соотношение цена-качество (превосходные составы из московских конфет при недорогой цене) и хороший сервис.