// gifts_video styles
.video-gifts
	padding 40px 0
	position relative
	.container
		padding-left 5px
		padding-right 5px
	h2
		text-align center
		color: $primary-color
		font-family fontHeadBold
		fz(30)
		lh(40)
		text-transform uppercase
		margin-bottom 40px
	.container
		&:first-child
			padding-left 0
			padding-right 0
			position relative
.video-slider__nav-outer
	overflow hidden
	height 90px
	padding 15px 30px
	background-color: #f0f1f5
	margin-bottom 20px
	.slider-nav__item.slick-active.slick-current
		text-align center
		border-top 5px solid $primary-color
		&:focus
			outline none !important
.video-slider__nav
	max-width 400px
	margin auto
	.slick-next, .slick-prev
		background-color transparent
		top 30px
	.slick-next
		icon-arrow: right 30px $primary-color 3px
		right -30px
		z-index 20
		background-color transparent
		&:before
			content ''
		&:after
			content ''
			absolute(top 0)
	.slick-prev
		icon-arrow: left 30px $primary-color 3px
		left -30px
		z-index 20
		background-color transparent
		&:before
			content ''
		&:after
			content ''
			absolute(top 0)
	.slick-disabled
		filter grayscale(10)
		opacity 0.5
	.slick-track
		padding 0px 0px 40px
.video-slider
	margin 0 auto
	max-width 280px
	.slider__item
		// visibility hidden
		opacity 0
		&.slick-current
			opacity 1
		.item__poster
			max-width 280px
			margin 0 auto
			position relative
			// height 259px
			box-shadow 0 75px 50px -20px rgba(11,15,50,0.25)
			border-radius 10px
			overflow hidden
			img
				max-width 100%
				height auto
		.item__start
			absolute(left 50% top 50%)
			transform translate(-50%, -50%)
			width 85px
			height 70px
			background url('../images/play.png') 0 0 no-repeat
		.item__top
			absolute(left 0 top 35px)
			width 100%
			padding 0 25px
			z-index 2
			display flex
			justify-content space-between
			color: #fff
			font-family fontHeadBold
			fz(20)
			lh(32)
		.item__title
			absolute(bottom 10px left 0)
			width 100%
			z-index 2
			padding 0 10px
			color: #fff
			text-align center
			font-family fontHeadBold
			fz(20)
			lh(28)
		.item__content
			padding-top 45px
			text-align center
			h3
				text-transform uppercase
				color: $primary-color
				font-family fontHeadBold
				fz(21)
				lh(25)
				margin-bottom 20px
				span
					display block
					font-family $baseFont
					text-transform none
					font-weight: $normal
			p
				max-width 340px
				margin 20px auto
				color: #8f7b71
				fz(16)
				lh(19)
		.video__price
			span
				color: #8f7b71
				&:first-child
					margin-right 10px
					color: $primary-color
					font-weight $bold
		// &.slick-active
		// &.slick-current
		// 	visibility visible
	&+.btn
		display block
		border-radius 5px
		max-width 340px
		margin: auto
		font-weight: $normal
		text-transform none
.countent__you
	display block
	text-align center
	margin-top 30px

	img, span
		display inline-block
		vertical-align middle
	img
		margin-right 10px
	span
		color: #000
		position relative
		&:before
			content ""
			absolute(left 0 bottom -3px)
			width 100%
			height 1px
			background-color: rgba($primary-color,0.3)
.item__share
	display none

.slider-nav__item
	border 5px solid white
	margin 0px 10px
	padding 5px 0
	box-shadow 0px 25px 30px -10px rgba(11, 15, 50, 0.15)
	max-width 75px
	img
		height auto
		max-width 100%
@media screen and (min-width $md)
	.video-slider
		margin 0
		max-width none
		.slider__item
			display flex !important
			flex-flow row nowrap
			justify-content space-between
			align-items flex-end
			padding 0 0 100px
			opacity 0
			visibility hidden
			transition 0.5s opacity 0.2s ease-in-out
			.item__poster
				flex-basis 0 0 475px
				overflow hidden
				border-radius 20px
			.item__content
				flex-basis 0 0 50%
				padding-top 0
				padding-bottom 0px
				h3
				.video__price
				p
					text-align left
					margin-left 0
			.item__content
				padding-left 32px
			.item__title
				fz(30)
				text-align left
				max-width 70%
				padding 0 20px
			&.slick-current
				opacity 1
				visibility visible
		& + .btn
			display none
	.countent__you
		display none
	.video-slider
		.slider__item
			.item__poster
				width 475px
				max-width none
				height auto
				img
					max-width 100%
					width 100%
					height auto
	.video-slider__nav-outer
		absolute(right -20px top 45px)
		width 50%
		z-index 10
		height 110px
	.video-gifts
		padding-bottom 10px
		h2
			absolute(right -80px top -10px)
			width 50%
			margin-bottom 0
			text-align left
			fz(40)
			lh(60)
	.item__share
		display flex
		align-items center
		margin-top 20px
		.countent__you
			display block
			margin-top 0
			margin-left 40px
			cursor pointer
		.btn
			border-radius 5px
			max-width 185px
			fz(16)
			text-transform none
			font-weight: $normal
			padding 0.5em 1em
	.video-slider__nav
		.slick-next
			right -40px
		.slick-prev
			left -40px
	.slider-nav__item
		max-width none
		margin 0px 5px
@media screen and (min-width $lg)
	.slider__item
		.item__poster
			flex-basis 0 0 569px
	.video-slider

		.slider__item
			.item__poster
				width 569px
			.item__content
				padding-bottom 5px
				position relative
				z-index 10
	.video-gifts
		h2
			right 0px
			top 30px
		.video-slider__nav-outer
			right 30px !important
			width 50%
			top 90px
		.container
			padding-left 40px
			padding-right 40px
@media screen and (max-width 1279px)
	.video-gifts
		overflow hidden
