mixin gifts_video(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			h2 Подарки с видео
			.video-slider__nav-outer
				.video-slider__nav
					.slider-nav__item
						img(src="../images/tmb-1.png", alt="")
					.slider-nav__item
						img(src="../images/tmb-2.png", alt="")
					.slider-nav__item
						img(src="../images/tmb-3.png", alt="")
					.slider-nav__item
						img(src="../images/tmb-1.png", alt="")
					.slider-nav__item
						img(src="../images/tmb-2.png", alt="")
					.slider-nav__item
						img(src="../images/tmb-3.png", alt="")
		.container
			.video-slider
				+video_slide(class="slider__item")
				+video_slide(class="slider__item")
				+video_slide(class="slider__item")
				+video_slide(class="slider__item")
				+video_slide(class="slider__item")
				+video_slide(class="slider__item")
			
			a(href="", class="btn btn--default btn--xl") Все подарки с видео
			a.countent__you
				img(src="../images/youtube.png")
				span Наш канал на Ютубе



