extends _layouts/base
include _modules/link/link
include _modules/main_page_banner/main_page_banner
include _modules/gift_card/gift_card
include _modules/gift_list/gift_list
include _modules/gift_select/gift_select
include _modules/fast_search/fast_search
include _modules/seotext/seotext
include _modules/work/work
include _modules/cert/cert
include _modules/gifts/gifts
include _modules/gifts_item/gifts_item
include _modules/reviews/reviews
include _modules/reviews_item/reviews_item
include _modules/gifts_video/gifts_video
include _modules/video_slide/video_slide
include _modules/fabric_slider/fabric_slider
include _modules/fabric_item/fabric_item



block content
	+main_page_banner(class="main-banner")
	+gift_select(class="choice")
	+gift_list()
	+fabric_slider(class="fabric-slider")
	+gifts_video(class="video-gifts")
	+reviews(class="reviews")
	+gifts(class="leading")
	+cert(class="cert")
	+work(class="work")
	.container.clearfix
		+seotext(class="about about--seo")
		+fast_search(class="links")
