// popup styles
.popup-overlay
	background rgba(black 0.75)
	fixed(left 0 top 0)
	width 100%
	height 100%
	display none
	z-index 100
.popup-window
	display none
	fixed(top 50% left 50%)
	transform translate(-50%, -50%)
	background #fff
	padding 40px
	border-radius 10px
	width 970px
	z-index 200
	h2
		color text
		fz(30)
		font-family fontHeadBold
		width 80%
		margin 0
	form
		input
			border none
			box-shadow none
			border-radius 3px
			background-color rgb(240, 241, 245)
			width 100% !important
			height 53px
			fz(16)
			padding 15px
			box-sizing border-box
			margin-bottom 30px
.easy-autocomplete
	width 100% !important
.popup-body

	fz(16)

.list-columns
	padding 30px 10px
	max-width 620px
	ul
		reset-list()
		columns: 3 120px
		line-height 25px

		li
			a
				color $primary-color
				text-decoration none

.popup-header
	position relative
	clearfix()
	.popup-close
		float right
		icon-x: 40px gray 2px
		width 50px
		height 50px
		position relative
		float right
		cursor pointer
		right -15px
		top -40px
		z-index 201
.form-error
	display none
	p
		color #bb5923
		font-weight $bold
		fz(16)
.popup-footer
	padding-top 30px
	border-top 1px solid border

	input[type="submit"]
		box-shadow none
		border none
		color white
		text-transform uppercase
		fz(16)
		font-weight $bold
		border-radius 3px
		background-color rgb(225, 33, 33)
		width 268px
		height 53px
		letter-spacing 0.08em
.top-line__local span
	cursor pointer

@media screen and (max-width: 1024px)
	.popup-window
		width auto
		padding 20px
		min-width 300px
		overflow-y auto
		max-height 400px
	.list-columns ul
		columns: 1 20px
	.popup-window h2
		fz(20)
		lh(20)