mixin popupLocal()
	.popup-overlay
	.popup-window
		.popup-header
			h2 Укажите регион доставки
			.popup-close
		.popup-body
			form(action="")
				input(type="text", id="your_city", name="city" class="autofill input-city", placeholder="Введите название населенного пункта", value="", autocomplete="off")

			.form-content
				strong Например
				.list-columns
					ul
						li
							a(href="") Москва
						li
							a(href="") Санкт-Петербург
						li
							a(href="") Новосибирск
						li
							a(href="") Екатеринбург
						li
							a(href="") Нижний Новгород
						li
							a(href="") Казань
						li
							a(href="") Челябинск
						li 
							a(href="") Омск
						li
							a(href="") Самара
						li
							a(href="") Ростов-на-Дону
						li
							a(href="") Уфа
						li
							a(href="") Красноярск
						li
							a(href="") Перь
						li
							a(href="") Воронеж
						li
							a(href="") Волгоград
				.form-error
					p.
						Город не найден. <br>
						Уточнить доставку в ваш город можно по телефону: <br>
						8 (800) 333 34 54 <br>
			.popup-footer
				input(type="submit", class="btn", value="Сохранить") 