mixin reviews(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.reviews__head
				h2.
					Нашими подарками остались довольны <br> тысячи детей и родителей
			.reviews__tabs
				.grid.fit-grid
					.col-3.col-xs-6
						.reviews__nav
							ul
								li.active
									a(href="#tab-1")
										span Отзывы в
										| &nbsp;Яндекс Маркете
								li
									a(href="#tab-2")
										span Отзывы в
										| &nbsp;ВКонтакте
								li
									a(href="#tab-3")
										span Отзывы на
										| &nbsp;Майл.ру
								li
									a(href="#tab-4")
										span Отзывы на
										| &nbsp; нашем сайте
							a(href="", class="btn btn--default btn--md") Все отзывы
					.col-9.col-xs-6
						.reviews__content
							#tab-1.reviews__tab.active
								.reviews__slider
									+reviews_item("reply-item ya")
									+reviews_item("reply-item ya")
									+reviews_item("reply-item ya")
									+reviews_item("reply-item ya")
							#tab-2.reviews__tab
								.reviews__slider
									+reviews_item("reply-item vk")
									+reviews_item("reply-item vk")
									+reviews_item("reply-item vk")
									+reviews_item("reply-item vk")
							#tab-3.reviews__tab
								.reviews__slider
									+reviews_item("reply-item mail")
									+reviews_item("reply-item mail")
									+reviews_item("reply-item mail")
									+reviews_item("reply-item mail")
							#tab-4.reviews__tab
								.reviews__slider
									+reviews_item("reply-item site")
									+reviews_item("reply-item site")
									+reviews_item("reply-item site")
									+reviews_item("reply-item site")
			a(href="", class="btn btn--default btn--xl") Все отзывы
