// reviews styles
.reviews
	padding 45px 0
	background-color: #f0f1f5
	.btn
		border-radius 5px
		display block
		max-width 281px
		margin 0px auto
		padding 0.7em 2em
		text-transform none
		fz(18)
.reviews__tab
	display none
	overflow hidden
	&.active
		display block
.reviews__nav
	margin-top 30px
	max-width 365px
	margin-left auto
	margin-right auto
	.btn
		display none
	ul
		border-top 2px solid rgba($primary-color, .5)
		display flex
		flex-flow row nowrap
		justify-content flex-start
		margin 0
		padding 0
		li
			flex 0 0 25%
			position relative
			top -2px
			a
				padding 10px 3px
				color: #b2b2b2
				fz(16)
				lh(20)
				text-align center
				text-decoration none
				word-break no-break
				display block
				span
					display none
			&.active
				a
					border-top $primary-color 2px solid
					color: #000
.reviews__content
	padding-top 20px
.reviews__tabs
	overflow hidden
	max-height 500px
@media screen and (min-width $md)
	.reviews
		padding 70px 0 20px
	.reviews__content
		padding-top 50px
		padding-left 40px
	.reviews__tabs
		&+.btn
			display none
	.reviews__nav
		width 204px
		padding-top 50px
		margin-left 0px
		.btn
			display inline-block
		ul
			border-top 0
			flex-flow column nowrap
			li
				margin-bottom 20px
				a
					text-align left
					padding 5px 20px
					line-height 1
					white-space nowrap
					span
						display inline-block
			li.active
				a
					border-top none
					border-left 1px solid $primary-color
@media screen and (min-width $lg)
	.reviews__nav
		margin-left 100px
	.reviews__content
		padding-left 170px
