// detsad-info styles
.d-info
	padding 40px 0
	@media screen and (min-width $md)
		padding 60px 0px 60px
	@media screen and (min-width $lg)
		padding 80px 0px 50px
	.info-item
		display flex
		margin-bottom 30px
		align-items center
		max-width 360px
		margin-left auto
		margin-right auto
		@media screen and (min-width $md)
			max-width 405px
		@media screen and (min-width $lg)
			max-width 450px
	.img
		margin-right 15px
		border-radius 100%
		border 3px solid #d4d7e2
		text-align center
		width 102px
		height 102px
		flex 0 0 102px
		lh(102)
		padding-top 15px
	.body
		h4
			color $primary-color
			fz(20)
			lh(22)
			font-weight $bold
			margin-bottom 10px
		p, li
			color #8f7b71
			fz(14)
			lh(22)
			margin-top 0
		ul
			margin 0
			padding 0

