mixin detsad-info(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.grid
				.col-6
					.info-item
						.img
							img(src="../images/landing/icon-1.png")
						.body
							h4 Изменить заказ ддо отправки
							p.
								Не волнуйтесь, если кто-то из родителей не станет
								скидываться - изменяйте заказ до отправки
				.col-6
					.info-item
						.img
							img(src="../images/landing/icon-2.png")
						.body
							h4 Предоставляемые документы
							ul
								li 1. Договор
								li 2. Сертификат качества
								li 3. Накладная
