mixin work(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		.container
			.work-head
				h2 Как мы работаем
			.work-body.visible-md
				.grid
					.work-item.col-4.work-item--1
						.work-item__title
							span 1.
							span Выбор <br> товара
						.work-item__img
							img(src="../images/icon-work-1.png", alt="")
						.work-item__hidden
							p.
								Выбираете подарки на сайте.
								Делаете заказ через корзину, по телефону или почтой.

					.work-item.col-4.work-item--3
						.work-item__title
							span 3.
							span Оплата
						.work-item__img
							img(src="../images/icon-work-3.png", alt="")
						.work-item__hidden
							p.
								По электронной почте Вы получаете счет на оплату и договор. Совершаете платеж.

					.work-item.col-4.work-item--5
						.work-item__title
							span 5.
							span Доставка
						.work-item__img
							img(src="../images/icon-work-5.png", alt="")
						.work-item__hidden
							p.
								В назначенный день наш водитель доставляет Вам подарки и документы.

				.grid
					.work-item.col-4.work-item--2
						.work-item__title
							span 2.
							span Размещение <br> заказа
						.work-item__img
							img(src="../images/icon-work-2.png", alt="")
						.work-item__hidden
							p.
								Мы перезваниваем Вам, и согласовываем детали.

					.work-item.col-4.work-item--4
						.work-item__title
							span 4.
							span Согласование <br> доставки
						.work-item__img
							img(src="../images/icon-work-4.png", alt="")
						.work-item__hidden
							p.
								За 2-3 дня до даты предполагаемой доставки наши логисты связываются с Вами и уточняют день, время, адрес доставки и прочие особенности.
			.work-body.hidden-lg.hidden-md.work-slider
				.work-item.col-4.work-item--1
					.work-item__title
						span 1.
						span Выбор <br> товара
					.work-item__img
						img(src="../images/icon-work-1.png", alt="")
					.work-item__hidden
						p.
							Выбираете подарки на сайте.
							Делаете заказ через корзину, по телефону или почтой.
				.work-item.col-4.work-item--2
					.work-item__title
						span 2.
						span Размещение <br> заказа
					.work-item__img
						img(src="../images/icon-work-2.png", alt="")
					.work-item__hidden
						p.
							Мы перезваниваем Вам, и согласовываем детали.
				.work-item.col-4.work-item--3
					.work-item__title
						span 3.
						span Оплата
					.work-item__img
						img(src="../images/icon-work-3.png", alt="")
					.work-item__hidden
						p.
							По электронной почте Вы получаете счет на оплату и договор. Совершаете платеж.
				.work-item.col-4.work-item--4
					.work-item__title
						span 4.
						span Согласование <br> доставки
					.work-item__img
						img(src="../images/icon-work-4.png", alt="")
					.work-item__hidden
						p.
							За 2-3 дня до даты предполагаемой доставки наши логисты связываются с Вами и уточняют день, время, адрес доставки и прочие особенности.
				.work-item.col-4.work-item--5
					.work-item__title
						span 5.
						span Доставка
					.work-item__img
						img(src="../images/icon-work-5.png", alt="")
					.work-item__hidden
						p.
							В назначенный день наш водитель доставляет Вам подарки и документы.



