// land-gifts styles
.leading
	@media screen and (min-width $md)
		&.leading--land
			&:before
				height 310px
			.grid
				grid-template-rows repeat(1, 1fr)
			&+.container .about--seo
				padding-top 0px