mixin land-gifts(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	div(class=spec.__class)&attributes(attributes)
		.container
			.leading__head
				h2 Популярные подарки
			.grid
				.col-3
					+gifts_item("../images/lead-1.jpg", "Золотой гребешок", "500 Р.", "650 гр.")
				.col-3
					+gifts_item("../images/lead-2.jpg", "Елочка", "500Р.", "650 гр.")
				.col-3
					+gifts_item("../images/lead-3.jpg", "Сила в спортеСаночки", "500 Р.", "650 гр.")
				.col-3
					+gifts_item("../images/lead-4.jpg", "Саночки", "500 Р.", "650 гр.")
				
